<!DOCTYPE html>
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>C-Realizace lite</title>

	<!-- JQUERY -->
	<script type="text/javascript" src="../../lib/jquery/jquery.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>C-Realizace lite</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-4fb33f77d0184e088a9b252fb42fedaf.png" alt="C-Realizace lite" usemap="#id-4fb33f77d0184e088a9b252fb42fedafmap"/>
			   <map name="id-4fb33f77d0184e088a9b252fb42fedafmap">
				  		<area shape="rect" coords="57,10,177,65" href="../views/id-a71a523478c84a33bcb6812bb52e9a4b.html"  target="view">
				      <!-- Other diagram objects -->
				  		<area shape="rect" coords="742,10,862,65" href="../views/id-7222b0bfa5544489a9e8b2b0c26866a5.html"  target="view">
				      <!-- Other diagram objects -->
				  		<area shape="rect" coords="10,369,130,424" href="../elements/id-a13e458790b94ac78bbcdcb7e71083bb.html"  target="element">
				  		<area shape="rect" coords="466,10,586,65" href="../views/id-c3c998fc9955406aaa2ead07fffab970.html"  target="view">
				      <!-- Other diagram objects -->
				  		        <area shape="rect" coords="910,46,1079,70" href="../objects/id-2a44aa517fd748d290b7009c554e07bb.html" target="element" >
				  		        <area shape="rect" coords="910,118,1079,142" href="../objects/id-afaf73446ebe4aa6beb7fcffc48be0d3.html" target="element" >
				  		        <area shape="rect" coords="910,82,1079,106" href="../objects/id-e1630f1e0e894fb0b1d9223e3f95edbc.html" target="element" >

				          <area shape="rect" coords="898,10,1114,167" href="../objects/id-4e3ad59e76ef4449b4814b7aed89f55c.html" target="element" >
				  		<area shape="rect" coords="814,369,934,424" href="../elements/id-838277dc1fd044fdbb95e292dc2b3d44.html"  target="element">
				  		<area shape="rect" coords="166,369,286,424" href="../elements/id-7af154be8d7244ec9b924d0ebfe9aae6.html"  target="element">
				  		<area shape="rect" coords="334,369,454,424" href="../elements/id-2f28c30bd7d24cc0bf7ec19d43f04dfc.html"  target="element">
				  		<area shape="rect" coords="502,369,622,424" href="../elements/id-0b7b8d74a1c546fd85b6b124da0a4117.html"  target="element">
				  		<area shape="rect" coords="658,369,778,424" href="../elements/id-2f28c30bd7d24cc0bf7ec19d43f04dfc.html"  target="element">
				  		<area shape="rect" coords="322,10,442,65" href="../views/id-71ea52d57618499da772623d8a32ca30.html"  target="view">
				      <!-- Other diagram objects -->
				  		<area shape="rect" coords="382,249,503,304" href="../elements/id-6c5e7dcfc234471d9d6ccef608da9310.html"  target="element">
				  		<area shape="rect" coords="142,249,262,304" href="../elements/id-1844a6219a36408bb45e101fe9bd7242.html"  target="element">
				  		<area shape="rect" coords="669,249,789,304" href="../elements/id-6106a4a42d6a499aa06e654506e8b1e7.html"  target="element">
				  		<area shape="rect" coords="142,113,788,167" href="../elements/id-bf6a860f036f40dd917aab4771d03a20.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-bf6a860f036f40dd917aab4771d03a20.html" target="element"> C-Realizace </a> </td>
											    <td> <a href="../elements/id-bf6a860f036f40dd917aab4771d03a20.html" target="element" class="i18n-elementtype-BusinessProcess">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-6106a4a42d6a499aa06e654506e8b1e7.html" target="element"> 12 - Akceptace </a> </td>
											    <td> <a href="../elements/id-6106a4a42d6a499aa06e654506e8b1e7.html" target="element" class="i18n-elementtype-BusinessProcess">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-1844a6219a36408bb45e101fe9bd7242.html" target="element"> 10 - Validace projektov&#233;ho pl&#225;nu </a> </td>
											    <td> <a href="../elements/id-1844a6219a36408bb45e101fe9bd7242.html" target="element" class="i18n-elementtype-BusinessProcess">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-6c5e7dcfc234471d9d6ccef608da9310.html" target="element"> 11 - Realizace </a> </td>
											    <td> <a href="../elements/id-6c5e7dcfc234471d9d6ccef608da9310.html" target="element" class="i18n-elementtype-BusinessProcess">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../views/id-71ea52d57618499da772623d8a32ca30.html" target="view"> Bussiness Flow </a> </td>
											    <td> <a href="../views/id-71ea52d57618499da772623d8a32ca30.html" target="view" class="i18n-viewpoint-"> </a> </td>
											</tr>
									    <!-- Other graphical objects -->

											<tr>
											    <td> <a href="../elements/id-2f28c30bd7d24cc0bf7ec19d43f04dfc.html" target="element"> Projektov&#253; manager </a> </td>
											    <td> <a href="../elements/id-2f28c30bd7d24cc0bf7ec19d43f04dfc.html" target="element" class="i18n-elementtype-BusinessRole">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-0b7b8d74a1c546fd85b6b124da0a4117.html" target="element"> Realiza&#269;n&#237; t&#253;m </a> </td>
											    <td> <a href="../elements/id-0b7b8d74a1c546fd85b6b124da0a4117.html" target="element" class="i18n-elementtype-BusinessRole">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-2f28c30bd7d24cc0bf7ec19d43f04dfc.html" target="element"> Projektov&#253; manager </a> </td>
											    <td> <a href="../elements/id-2f28c30bd7d24cc0bf7ec19d43f04dfc.html" target="element" class="i18n-elementtype-BusinessRole">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-7af154be8d7244ec9b924d0ebfe9aae6.html" target="element"> Projektov&#253; t&#253;m </a> </td>
											    <td> <a href="../elements/id-7af154be8d7244ec9b924d0ebfe9aae6.html" target="element" class="i18n-elementtype-BusinessRole">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-838277dc1fd044fdbb95e292dc2b3d44.html" target="element"> Z&#225;kazn&#237;k </a> </td>
											    <td> <a href="../elements/id-838277dc1fd044fdbb95e292dc2b3d44.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

									        <tr>
									           <td> <a href="../objects/id-4e3ad59e76ef4449b4814b7aed89f55c.html" target="element"> Legenda </a> </td>
									           <td> <a href="../objects/id-4e3ad59e76ef4449b4814b7aed89f55c.html" target="element" class="i18n-elementtype-DiagramModelGroup"> </a> </td>
									        </tr>

											        <tr>
											           <td> <a href="../objects/id-e1630f1e0e894fb0b1d9223e3f95edbc.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-e1630f1e0e894fb0b1d9223e3f95edbc.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											        <tr>
											           <td> <a href="../objects/id-afaf73446ebe4aa6beb7fcffc48be0d3.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-afaf73446ebe4aa6beb7fcffc48be0d3.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											        <tr>
											           <td> <a href="../objects/id-2a44aa517fd748d290b7009c554e07bb.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-2a44aa517fd748d290b7009c554e07bb.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											
											<tr>
											    <td> <a href="../views/id-c3c998fc9955406aaa2ead07fffab970.html" target="view"> Bussiness týmy </a> </td>
											    <td> <a href="../views/id-c3c998fc9955406aaa2ead07fffab970.html" target="view" class="i18n-viewpoint-"> </a> </td>
											</tr>
									    <!-- Other graphical objects -->

											<tr>
											    <td> <a href="../elements/id-a13e458790b94ac78bbcdcb7e71083bb.html" target="element"> Vedouc&#237; BS </a> </td>
											    <td> <a href="../elements/id-a13e458790b94ac78bbcdcb7e71083bb.html" target="element" class="i18n-elementtype-BusinessRole">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../views/id-7222b0bfa5544489a9e8b2b0c26866a5.html" target="view"> D-Uzavření projektu lite </a> </td>
											    <td> <a href="../views/id-7222b0bfa5544489a9e8b2b0c26866a5.html" target="view" class="i18n-viewpoint-"> </a> </td>
											</tr>
									    <!-- Other graphical objects -->

											<tr>
											    <td> <a href="../views/id-a71a523478c84a33bcb6812bb52e9a4b.html" target="view"> B-Akvizice lite </a> </td>
											    <td> <a href="../views/id-a71a523478c84a33bcb6812bb52e9a4b.html" target="view" class="i18n-viewpoint-"> </a> </td>
											</tr>
									    <!-- Other graphical objects -->


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-61caaa6445f04cb6b1e0057d659a470e.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-61caaa6445f04cb6b1e0057d659a470e.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-6106a4a42d6a499aa06e654506e8b1e7.html" target="element"> 12 - Akceptace </a> </td>
																		<td> <a href="../elements/id-bf6a860f036f40dd917aab4771d03a20.html" target="element"> C-Realizace </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-7901c14b790944a2882fe4aa6d0662f8.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-7901c14b790944a2882fe4aa6d0662f8.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-1844a6219a36408bb45e101fe9bd7242.html" target="element"> 10 - Validace projektov&#233;ho pl&#225;nu </a> </td>
																		<td> <a href="../elements/id-bf6a860f036f40dd917aab4771d03a20.html" target="element"> C-Realizace </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-6e434d8ab4994888a6b66d395ed9959a.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-6e434d8ab4994888a6b66d395ed9959a.html" target="element" class="i18n-elementtype-FlowRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-1844a6219a36408bb45e101fe9bd7242.html" target="element"> 10 - Validace projektov&#233;ho pl&#225;nu </a> </td>
																		<td> <a href="../elements/id-6c5e7dcfc234471d9d6ccef608da9310.html" target="element"> 11 - Realizace </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-926d5756117d41adb52b95fee61ddaf2.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-926d5756117d41adb52b95fee61ddaf2.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-6c5e7dcfc234471d9d6ccef608da9310.html" target="element"> 11 - Realizace </a> </td>
																		<td> <a href="../elements/id-bf6a860f036f40dd917aab4771d03a20.html" target="element"> C-Realizace </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-78902288ed0446c8af031485c87cfe78.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-78902288ed0446c8af031485c87cfe78.html" target="element" class="i18n-elementtype-FlowRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-6c5e7dcfc234471d9d6ccef608da9310.html" target="element"> 11 - Realizace </a> </td>
																		<td> <a href="../elements/id-6106a4a42d6a499aa06e654506e8b1e7.html" target="element"> 12 - Akceptace </a> </td>
																	</tr>

											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->
																	<tr>
																		<td> <a href="../elements/id-1b8302d241e945268ecb661b58280b19.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-1b8302d241e945268ecb661b58280b19.html" target="element" class="i18n-elementtype-AssignmentRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-2f28c30bd7d24cc0bf7ec19d43f04dfc.html" target="element"> Projektov&#253; manager </a> </td>
																		<td> <a href="../elements/id-6106a4a42d6a499aa06e654506e8b1e7.html" target="element"> 12 - Akceptace </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-8e021a621e884e2cbd2474eb3805baab.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-8e021a621e884e2cbd2474eb3805baab.html" target="element" class="i18n-elementtype-AssignmentRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-0b7b8d74a1c546fd85b6b124da0a4117.html" target="element"> Realiza&#269;n&#237; t&#253;m </a> </td>
																		<td> <a href="../elements/id-6c5e7dcfc234471d9d6ccef608da9310.html" target="element"> 11 - Realizace </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-f64c343dde6545628ba96aa14b779fe1.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-f64c343dde6545628ba96aa14b779fe1.html" target="element" class="i18n-elementtype-AssignmentRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-0b7b8d74a1c546fd85b6b124da0a4117.html" target="element"> Realiza&#269;n&#237; t&#253;m </a> </td>
																		<td> <a href="../elements/id-6106a4a42d6a499aa06e654506e8b1e7.html" target="element"> 12 - Akceptace </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-f1f1ee4810714485a3610168a254da6c.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-f1f1ee4810714485a3610168a254da6c.html" target="element" class="i18n-elementtype-AssignmentRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-2f28c30bd7d24cc0bf7ec19d43f04dfc.html" target="element"> Projektov&#253; manager </a> </td>
																		<td> <a href="../elements/id-6c5e7dcfc234471d9d6ccef608da9310.html" target="element"> 11 - Realizace </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-d348d1abe347454c97f580d138448314.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-d348d1abe347454c97f580d138448314.html" target="element" class="i18n-elementtype-AssignmentRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-2f28c30bd7d24cc0bf7ec19d43f04dfc.html" target="element"> Projektov&#253; manager </a> </td>
																		<td> <a href="../elements/id-1844a6219a36408bb45e101fe9bd7242.html" target="element"> 10 - Validace projektov&#233;ho pl&#225;nu </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-a3ca4b11d41d4e71948c00ca768e2fb9.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-a3ca4b11d41d4e71948c00ca768e2fb9.html" target="element" class="i18n-elementtype-AssignmentRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-7af154be8d7244ec9b924d0ebfe9aae6.html" target="element"> Projektov&#253; t&#253;m </a> </td>
																		<td> <a href="../elements/id-1844a6219a36408bb45e101fe9bd7242.html" target="element"> 10 - Validace projektov&#233;ho pl&#225;nu </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-2ebfc5bbd2504fa0a7500eb9427b218e.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-2ebfc5bbd2504fa0a7500eb9427b218e.html" target="element" class="i18n-elementtype-AssignmentRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-838277dc1fd044fdbb95e292dc2b3d44.html" target="element"> Z&#225;kazn&#237;k </a> </td>
																		<td> <a href="../elements/id-6106a4a42d6a499aa06e654506e8b1e7.html" target="element"> 12 - Akceptace </a> </td>
																	</tr>

											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->
																	<tr>
																		<td> <a href="../elements/id-0d93cf1dc4bc47e18308fd0257f6cb99.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-0d93cf1dc4bc47e18308fd0257f6cb99.html" target="element" class="i18n-elementtype-AssignmentRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-a13e458790b94ac78bbcdcb7e71083bb.html" target="element"> Vedouc&#237; BS </a> </td>
																		<td> <a href="../elements/id-1844a6219a36408bb45e101fe9bd7242.html" target="element"> 10 - Validace projektov&#233;ho pl&#225;nu </a> </td>
																	</tr>

											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>