<!DOCTYPE html>
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>B-Akvizice naked</title>

	<!-- JQUERY -->
	<script type="text/javascript" src="../../lib/jquery/jquery.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>B-Akvizice naked</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-6e4d72ca85d249cca8b59e6ab36196fd.png" alt="B-Akvizice naked" usemap="#id-6e4d72ca85d249cca8b59e6ab36196fdmap"/>
			   <map name="id-6e4d72ca85d249cca8b59e6ab36196fdmap">
				  		<area shape="rect" coords="720,10,852,65" href="../views/id-357dbbae372b42e3b286b473c4efa87a.html"  target="view">
				      <!-- Other diagram objects -->
				  		<area shape="rect" coords="178,10,323,65" href="../views/id-1ea6bcca4d7440229a9c1fb25a78e438.html"  target="view">
				      <!-- Other diagram objects -->
				  		<area shape="rect" coords="10,118,130,173" href="../elements/id-eac521e718d046ba818568060306c588.html"  target="element">
				  		<area shape="rect" coords="706,450,721,465" href="../elements/id-dc7362089a854a2791392b5f2ce0579e.html"  target="element">
				  		<area shape="rect" coords="1054,358,1174,413" href="../elements/id-dcd768120ca04a7dacc1761f96bec53f.html"  target="element">
				  		<area shape="rect" coords="353,370,473,425" href="../elements/id-104b685105e24a589abc99657aa0e198.html"  target="element">
				  		<area shape="rect" coords="173,370,293,425" href="../elements/id-7dffc40902744566b788735448b2763d.html"  target="element">
				  		<area shape="rect" coords="538,370,660,425" href="../elements/id-0424eea13d794ad9b667dccb3be99607.html"  target="element">
				  		<area shape="rect" coords="898,298,1018,323" href="../elements/id-838277dc1fd044fdbb95e292dc2b3d44.html"  target="element">
				  		<area shape="rect" coords="886,430,1006,485" href="../elements/id-0c112662e1d842b8a10bf804345c03e3.html"  target="element">
				  		<area shape="rect" coords="262,298,382,323" href="../elements/id-838277dc1fd044fdbb95e292dc2b3d44.html"  target="element">
				  		<area shape="rect" coords="732,370,852,425" href="../elements/id-7b8385505d1d401aa67cb999f78ec149.html"  target="element">
				  		<area shape="rect" coords="173,118,852,173" href="../elements/id-1789a32017cf4c90bfbbcfafc61801ab.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-1789a32017cf4c90bfbbcfafc61801ab.html" target="element"> B-Akvizice </a> </td>
											    <td> <a href="../elements/id-1789a32017cf4c90bfbbcfafc61801ab.html" target="element" class="i18n-elementtype-BusinessProcess">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-7b8385505d1d401aa67cb999f78ec149.html" target="element"> 7-Akceptace nab&#237;dky z&#225;kazn&#237;kem </a> </td>
											    <td> <a href="../elements/id-7b8385505d1d401aa67cb999f78ec149.html" target="element" class="i18n-elementtype-BusinessProcess">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-838277dc1fd044fdbb95e292dc2b3d44.html" target="element"> Z&#225;kazn&#237;k </a> </td>
											    <td> <a href="../elements/id-838277dc1fd044fdbb95e292dc2b3d44.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-0c112662e1d842b8a10bf804345c03e3.html" target="element"> Zm&#283;na parametr&#367; </a> </td>
											    <td> <a href="../elements/id-0c112662e1d842b8a10bf804345c03e3.html" target="element" class="i18n-elementtype-BusinessEvent">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-838277dc1fd044fdbb95e292dc2b3d44.html" target="element"> Z&#225;kazn&#237;k </a> </td>
											    <td> <a href="../elements/id-838277dc1fd044fdbb95e292dc2b3d44.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-0424eea13d794ad9b667dccb3be99607.html" target="element"> 6 - Schv&#225;len&#237; nab&#237;dky </a> </td>
											    <td> <a href="../elements/id-0424eea13d794ad9b667dccb3be99607.html" target="element" class="i18n-elementtype-BusinessProcess">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-7dffc40902744566b788735448b2763d.html" target="element"> 4 - Setup nab&#237;dkov&#233;ho t&#253;mu  </a> </td>
											    <td> <a href="../elements/id-7dffc40902744566b788735448b2763d.html" target="element" class="i18n-elementtype-BusinessProcess">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-104b685105e24a589abc99657aa0e198.html" target="element"> 5 -Tvorba nab&#237;dky </a> </td>
											    <td> <a href="../elements/id-104b685105e24a589abc99657aa0e198.html" target="element" class="i18n-elementtype-BusinessProcess">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-dcd768120ca04a7dacc1761f96bec53f.html" target="element"> expirace nab&#237;dky </a> </td>
											    <td> <a href="../elements/id-dcd768120ca04a7dacc1761f96bec53f.html" target="element" class="i18n-elementtype-BusinessEvent">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-dc7362089a854a2791392b5f2ce0579e.html" target="element"> Junction </a> </td>
											    <td> <a href="../elements/id-dc7362089a854a2791392b5f2ce0579e.html" target="element" class="i18n-elementtype-Junction">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-eac521e718d046ba818568060306c588.html" target="element"> Obchodn&#237;k </a> </td>
											    <td> <a href="../elements/id-eac521e718d046ba818568060306c588.html" target="element" class="i18n-elementtype-BusinessRole">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../views/id-1ea6bcca4d7440229a9c1fb25a78e438.html" target="view"> A-Oportunita naked </a> </td>
											    <td> <a href="../views/id-1ea6bcca4d7440229a9c1fb25a78e438.html" target="view" class="i18n-viewpoint-"> </a> </td>
											</tr>
									    <!-- Other graphical objects -->

											<tr>
											    <td> <a href="../views/id-357dbbae372b42e3b286b473c4efa87a.html" target="view"> C-Realizace naked </a> </td>
											    <td> <a href="../views/id-357dbbae372b42e3b286b473c4efa87a.html" target="view" class="i18n-viewpoint-"> </a> </td>
											</tr>
									    <!-- Other graphical objects -->


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-50c97bfb8e2b464eb1ba6bfce72ba814.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-50c97bfb8e2b464eb1ba6bfce72ba814.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-7b8385505d1d401aa67cb999f78ec149.html" target="element"> 7-Akceptace nab&#237;dky z&#225;kazn&#237;kem </a> </td>
																		<td> <a href="../elements/id-1789a32017cf4c90bfbbcfafc61801ab.html" target="element"> B-Akvizice </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-24f03f34719c44c999cb50f9f23f915a.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-24f03f34719c44c999cb50f9f23f915a.html" target="element" class="i18n-elementtype-AssignmentRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-838277dc1fd044fdbb95e292dc2b3d44.html" target="element"> Z&#225;kazn&#237;k </a> </td>
																		<td> <a href="../elements/id-104b685105e24a589abc99657aa0e198.html" target="element"> 5 -Tvorba nab&#237;dky </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-b2c7bff5241d458791d2ed5f639a1711.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-b2c7bff5241d458791d2ed5f639a1711.html" target="element" class="i18n-elementtype-FlowRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-0c112662e1d842b8a10bf804345c03e3.html" target="element"> Zm&#283;na parametr&#367; </a> </td>
																		<td> <a href="../elements/id-dc7362089a854a2791392b5f2ce0579e.html" target="element"> Junction </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-15d83b4b68aa471684ff75fd84c827d6.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-15d83b4b68aa471684ff75fd84c827d6.html" target="element" class="i18n-elementtype-AssignmentRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-838277dc1fd044fdbb95e292dc2b3d44.html" target="element"> Z&#225;kazn&#237;k </a> </td>
																		<td> <a href="../elements/id-7b8385505d1d401aa67cb999f78ec149.html" target="element"> 7-Akceptace nab&#237;dky z&#225;kazn&#237;kem </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-d38fb48191ca4896abe64ec282941eb2.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-d38fb48191ca4896abe64ec282941eb2.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-838277dc1fd044fdbb95e292dc2b3d44.html" target="element"> Z&#225;kazn&#237;k </a> </td>
																		<td> <a href="../elements/id-0c112662e1d842b8a10bf804345c03e3.html" target="element"> Zm&#283;na parametr&#367; </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-ffca1f256f3b49a7b8bd1df1276fa0ce.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-ffca1f256f3b49a7b8bd1df1276fa0ce.html" target="element" class="i18n-elementtype-FlowRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-0424eea13d794ad9b667dccb3be99607.html" target="element"> 6 - Schv&#225;len&#237; nab&#237;dky </a> </td>
																		<td> <a href="../elements/id-7b8385505d1d401aa67cb999f78ec149.html" target="element"> 7-Akceptace nab&#237;dky z&#225;kazn&#237;kem </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-57237fbe391f47efa305de38e731a942.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-57237fbe391f47efa305de38e731a942.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-0424eea13d794ad9b667dccb3be99607.html" target="element"> 6 - Schv&#225;len&#237; nab&#237;dky </a> </td>
																		<td> <a href="../elements/id-1789a32017cf4c90bfbbcfafc61801ab.html" target="element"> B-Akvizice </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-adf5fc802c9f4b2f8318fd439cbcbc2e.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-adf5fc802c9f4b2f8318fd439cbcbc2e.html" target="element" class="i18n-elementtype-FlowRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-7dffc40902744566b788735448b2763d.html" target="element"> 4 - Setup nab&#237;dkov&#233;ho t&#253;mu  </a> </td>
																		<td> <a href="../elements/id-104b685105e24a589abc99657aa0e198.html" target="element"> 5 -Tvorba nab&#237;dky </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-6714ffd539d24d0980561c02a62da52d.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-6714ffd539d24d0980561c02a62da52d.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-7dffc40902744566b788735448b2763d.html" target="element"> 4 - Setup nab&#237;dkov&#233;ho t&#253;mu  </a> </td>
																		<td> <a href="../elements/id-1789a32017cf4c90bfbbcfafc61801ab.html" target="element"> B-Akvizice </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-813d432a66cb4945adb423918d566469.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-813d432a66cb4945adb423918d566469.html" target="element" class="i18n-elementtype-FlowRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-104b685105e24a589abc99657aa0e198.html" target="element"> 5 -Tvorba nab&#237;dky </a> </td>
																		<td> <a href="../elements/id-0424eea13d794ad9b667dccb3be99607.html" target="element"> 6 - Schv&#225;len&#237; nab&#237;dky </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-ce03364881e7450d9863e3a729b0e31d.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-ce03364881e7450d9863e3a729b0e31d.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-104b685105e24a589abc99657aa0e198.html" target="element"> 5 -Tvorba nab&#237;dky </a> </td>
																		<td> <a href="../elements/id-1789a32017cf4c90bfbbcfafc61801ab.html" target="element"> B-Akvizice </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-22d238c2ed334265a582726071ab635c.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-22d238c2ed334265a582726071ab635c.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-dcd768120ca04a7dacc1761f96bec53f.html" target="element"> expirace nab&#237;dky </a> </td>
																		<td> <a href="../elements/id-0c112662e1d842b8a10bf804345c03e3.html" target="element"> Zm&#283;na parametr&#367; </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-17b70f29e493400f8c1dcd133676f43a.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-17b70f29e493400f8c1dcd133676f43a.html" target="element" class="i18n-elementtype-FlowRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-dc7362089a854a2791392b5f2ce0579e.html" target="element"> Junction </a> </td>
																		<td> <a href="../elements/id-0424eea13d794ad9b667dccb3be99607.html" target="element"> 6 - Schv&#225;len&#237; nab&#237;dky </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-538e1732e730480291a144a354350f5a.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-538e1732e730480291a144a354350f5a.html" target="element" class="i18n-elementtype-FlowRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-dc7362089a854a2791392b5f2ce0579e.html" target="element"> Junction </a> </td>
																		<td> <a href="../elements/id-104b685105e24a589abc99657aa0e198.html" target="element"> 5 -Tvorba nab&#237;dky </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-beb6211ae256458687ec11034105d408.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-beb6211ae256458687ec11034105d408.html" target="element" class="i18n-elementtype-AssignmentRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-eac521e718d046ba818568060306c588.html" target="element"> Obchodn&#237;k </a> </td>
																		<td> <a href="../elements/id-1789a32017cf4c90bfbbcfafc61801ab.html" target="element"> B-Akvizice </a> </td>
																	</tr>

											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>