<!DOCTYPE html>
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Bussiness Flow - navigator</title>

	<!-- JQUERY -->
	<script type="text/javascript" src="../../lib/jquery/jquery.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Bussiness Flow - navigator</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-71ea52d57618499da772623d8a32ca30.png" alt="Bussiness Flow - navigator" usemap="#id-71ea52d57618499da772623d8a32ca30map"/>
			   <map name="id-71ea52d57618499da772623d8a32ca30map">
				  				<area shape="rect" coords="754,58,874,113" href="../views/id-27b322ec2b55422c9c5af9394d3d75e5.html"  target="view">
				  		    <!-- Other diagram objects -->
				  				<area shape="rect" coords="532,58,652,113" href="../views/id-ada9af80aa7341fb9ef83f02388e2fff.html"  target="view">
				  		    <!-- Other diagram objects -->
				  				<area shape="rect" coords="328,58,448,113" href="../views/id-c972f7ce6a5c4afab06a914a8da798ce.html"  target="view">
				  		    <!-- Other diagram objects -->
				  				<area shape="rect" coords="106,64,226,119" href="../views/id-a81c188b58c94a6ebc55faf73944ca2c.html"  target="view">
				  		    <!-- Other diagram objects -->

				          <area shape="rect" coords="10,10,941,143" href="../objects/id-5a93bf502d65475091ecb8919f77a3d0.html" target="element" >
				  		<area shape="rect" coords="118,203,238,258" href="../elements/id-658137d6b2bc433c83d5dcb8d4be718a.html"  target="element">
				  		<area shape="rect" coords="754,203,874,258" href="../elements/id-8562bf64936e4bc795669655e9a0a193.html"  target="element">
				  		<area shape="rect" coords="532,203,652,258" href="../elements/id-bf6a860f036f40dd917aab4771d03a20.html"  target="element">
				  		<area shape="rect" coords="328,203,448,258" href="../elements/id-1789a32017cf4c90bfbbcfafc61801ab.html"  target="element">
				  				<area shape="rect" coords="334,574,454,629" href="../views/id-612e8302503f4ef3a7aa37c56a8eae49.html"  target="view">
				  		    <!-- Other diagram objects -->
				  				<area shape="rect" coords="538,574,658,629" href="../views/id-d3f1c24ee47d4588ae4d5f7f8b193615.html"  target="view">
				  		    <!-- Other diagram objects -->
				  				<area shape="rect" coords="118,574,238,629" href="../views/id-03aa965c4ece4b95a8e0a220a3df6202.html"  target="view">
				  		    <!-- Other diagram objects -->
				  				<area shape="rect" coords="778,574,898,629" href="../views/id-8eb9cdc10a54478292bb60d0bc6a8b09.html"  target="view">
				  		    <!-- Other diagram objects -->

				          <area shape="rect" coords="10,514,947,659" href="../objects/id-36df052b758946df947f903024c7a58d.html" target="element" >
				  				<area shape="rect" coords="112,370,232,425" href="../views/id-1ea6bcca4d7440229a9c1fb25a78e438.html"  target="view">
				  		    <!-- Other diagram objects -->
				  				<area shape="rect" coords="328,370,448,425" href="../views/id-6e4d72ca85d249cca8b59e6ab36196fd.html"  target="view">
				  		    <!-- Other diagram objects -->
				  				<area shape="rect" coords="532,370,652,425" href="../views/id-357dbbae372b42e3b286b473c4efa87a.html"  target="view">
				  		    <!-- Other diagram objects -->
				  				<area shape="rect" coords="772,370,892,425" href="../views/id-f078915e10944070a4dba5e48ae79841.html"  target="view">
				  		    <!-- Other diagram objects -->

				          <area shape="rect" coords="10,322,941,462" href="../objects/id-ce9351a852e742d8bd04c8876737e1cf.html" target="element" >

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
									        <tr>
									           <td> <a href="../objects/id-ce9351a852e742d8bd04c8876737e1cf.html" target="element"> View - Zjednodu&#353;en&#233; flow - pouze procesy </a> </td>
									           <td> <a href="../objects/id-ce9351a852e742d8bd04c8876737e1cf.html" target="element" class="i18n-elementtype-DiagramModelGroup"> </a> </td>
									        </tr>

													<tr>
													    <td> <a href="../views/id-f078915e10944070a4dba5e48ae79841.html" target="view"> D-Uzavření projektu naked </a> </td>
													    <td> <a href="../views/id-f078915e10944070a4dba5e48ae79841.html" target="view" class="i18n-viewpoint-"> </a> </td>
													</tr>
											    <!-- Other graphical objects -->

													<tr>
													    <td> <a href="../views/id-357dbbae372b42e3b286b473c4efa87a.html" target="view"> C-Realizace naked </a> </td>
													    <td> <a href="../views/id-357dbbae372b42e3b286b473c4efa87a.html" target="view" class="i18n-viewpoint-"> </a> </td>
													</tr>
											    <!-- Other graphical objects -->

													<tr>
													    <td> <a href="../views/id-6e4d72ca85d249cca8b59e6ab36196fd.html" target="view"> B-Akvizice naked </a> </td>
													    <td> <a href="../views/id-6e4d72ca85d249cca8b59e6ab36196fd.html" target="view" class="i18n-viewpoint-"> </a> </td>
													</tr>
											    <!-- Other graphical objects -->

													<tr>
													    <td> <a href="../views/id-1ea6bcca4d7440229a9c1fb25a78e438.html" target="view"> A-Oportunita naked </a> </td>
													    <td> <a href="../views/id-1ea6bcca4d7440229a9c1fb25a78e438.html" target="view" class="i18n-viewpoint-"> </a> </td>
													</tr>
											    <!-- Other graphical objects -->

											
									        <tr>
									           <td> <a href="../objects/id-36df052b758946df947f903024c7a58d.html" target="element"> View - Zjednodu&#353;en&#233; flow bez rol&#237;  </a> </td>
									           <td> <a href="../objects/id-36df052b758946df947f903024c7a58d.html" target="element" class="i18n-elementtype-DiagramModelGroup"> </a> </td>
									        </tr>

													<tr>
													    <td> <a href="../views/id-8eb9cdc10a54478292bb60d0bc6a8b09.html" target="view"> D-Uzavření projektu lite </a> </td>
													    <td> <a href="../views/id-8eb9cdc10a54478292bb60d0bc6a8b09.html" target="view" class="i18n-viewpoint-"> </a> </td>
													</tr>
											    <!-- Other graphical objects -->

													<tr>
													    <td> <a href="../views/id-03aa965c4ece4b95a8e0a220a3df6202.html" target="view"> A-Oportunita lite </a> </td>
													    <td> <a href="../views/id-03aa965c4ece4b95a8e0a220a3df6202.html" target="view" class="i18n-viewpoint-"> </a> </td>
													</tr>
											    <!-- Other graphical objects -->

													<tr>
													    <td> <a href="../views/id-d3f1c24ee47d4588ae4d5f7f8b193615.html" target="view"> C-Realizace lite </a> </td>
													    <td> <a href="../views/id-d3f1c24ee47d4588ae4d5f7f8b193615.html" target="view" class="i18n-viewpoint-"> </a> </td>
													</tr>
											    <!-- Other graphical objects -->

													<tr>
													    <td> <a href="../views/id-612e8302503f4ef3a7aa37c56a8eae49.html" target="view"> B-Akvizice lite </a> </td>
													    <td> <a href="../views/id-612e8302503f4ef3a7aa37c56a8eae49.html" target="view" class="i18n-viewpoint-"> </a> </td>
													</tr>
											    <!-- Other graphical objects -->

											
											<tr>
											    <td> <a href="../elements/id-1789a32017cf4c90bfbbcfafc61801ab.html" target="element"> B-Akvizice </a> </td>
											    <td> <a href="../elements/id-1789a32017cf4c90bfbbcfafc61801ab.html" target="element" class="i18n-elementtype-BusinessProcess">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-bf6a860f036f40dd917aab4771d03a20.html" target="element"> C-Realizace </a> </td>
											    <td> <a href="../elements/id-bf6a860f036f40dd917aab4771d03a20.html" target="element" class="i18n-elementtype-BusinessProcess">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-8562bf64936e4bc795669655e9a0a193.html" target="element"> D-Uzav&#345;en&#237; projektu  </a> </td>
											    <td> <a href="../elements/id-8562bf64936e4bc795669655e9a0a193.html" target="element" class="i18n-elementtype-BusinessProcess">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-658137d6b2bc433c83d5dcb8d4be718a.html" target="element"> A-Oportunita </a> </td>
											    <td> <a href="../elements/id-658137d6b2bc433c83d5dcb8d4be718a.html" target="element" class="i18n-elementtype-BusinessProcess">
											    </a> </td>
											</tr>

									        <tr>
									           <td> <a href="../objects/id-5a93bf502d65475091ecb8919f77a3d0.html" target="element"> View - Pln&#233; procesn&#237; flow </a> </td>
									           <td> <a href="../objects/id-5a93bf502d65475091ecb8919f77a3d0.html" target="element" class="i18n-elementtype-DiagramModelGroup"> </a> </td>
									        </tr>

													<tr>
													    <td> <a href="../views/id-a81c188b58c94a6ebc55faf73944ca2c.html" target="view"> A-Oportunita </a> </td>
													    <td> <a href="../views/id-a81c188b58c94a6ebc55faf73944ca2c.html" target="view" class="i18n-viewpoint-layered"> </a> </td>
													</tr>
											    <!-- Other graphical objects -->

													<tr>
													    <td> <a href="../views/id-c972f7ce6a5c4afab06a914a8da798ce.html" target="view"> B-Akvizice </a> </td>
													    <td> <a href="../views/id-c972f7ce6a5c4afab06a914a8da798ce.html" target="view" class="i18n-viewpoint-"> </a> </td>
													</tr>
											    <!-- Other graphical objects -->

													<tr>
													    <td> <a href="../views/id-ada9af80aa7341fb9ef83f02388e2fff.html" target="view"> C-Realizace </a> </td>
													    <td> <a href="../views/id-ada9af80aa7341fb9ef83f02388e2fff.html" target="view" class="i18n-viewpoint-"> </a> </td>
													</tr>
											    <!-- Other graphical objects -->

													<tr>
													    <td> <a href="../views/id-27b322ec2b55422c9c5af9394d3d75e5.html" target="view"> D-Uzavření projektu </a> </td>
													    <td> <a href="../views/id-27b322ec2b55422c9c5af9394d3d75e5.html" target="view" class="i18n-viewpoint-"> </a> </td>
													</tr>
											    <!-- Other graphical objects -->

											

								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->
											
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->
											
																	<tr>
																		<td> <a href="../elements/id-b4212fd8ef36438e90d96a2155e41e62.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-b4212fd8ef36438e90d96a2155e41e62.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-1789a32017cf4c90bfbbcfafc61801ab.html" target="element"> B-Akvizice </a> </td>
																		<td> <a href="../elements/id-bf6a860f036f40dd917aab4771d03a20.html" target="element"> C-Realizace </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-ba6265286b2a4843b1908c1846384d2e.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-ba6265286b2a4843b1908c1846384d2e.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-bf6a860f036f40dd917aab4771d03a20.html" target="element"> C-Realizace </a> </td>
																		<td> <a href="../elements/id-8562bf64936e4bc795669655e9a0a193.html" target="element"> D-Uzav&#345;en&#237; projektu  </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-c2db90daddf44d9c865cea0434ffb28c.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-c2db90daddf44d9c865cea0434ffb28c.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-658137d6b2bc433c83d5dcb8d4be718a.html" target="element"> A-Oportunita </a> </td>
																		<td> <a href="../elements/id-1789a32017cf4c90bfbbcfafc61801ab.html" target="element"> B-Akvizice </a> </td>
																	</tr>

											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->
											

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>