<!DOCTYPE html>
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>New ArchiMate View</title>

	<!-- JQUERY -->
	<script type="text/javascript" src="../../lib/jquery/jquery.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>New ArchiMate View</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-a2e0acb538b143dcb9c90be7d422feaa.png" alt="New ArchiMate View" usemap="#id-a2e0acb538b143dcb9c90be7d422feaamap"/>
			   <map name="id-a2e0acb538b143dcb9c90be7d422feaamap">
				  		<area shape="rect" coords="670,334,790,389" href="../elements/id-940170afc1ca4c2d816f25b826588b08.html"  target="element">
				  		<area shape="rect" coords="478,340,598,395" href="../elements/id-4235801c23744f4ab731709cf6e44f7a.html"  target="element">
				  		<area shape="rect" coords="214,340,334,395" href="../elements/id-236f8d4e116e4d1596e776f38c55cd3f.html"  target="element">
				  		<area shape="rect" coords="17,340,137,395" href="../elements/id-895e27f28a2c461a9266ebd52abedc49.html"  target="element">
				  		<area shape="rect" coords="17,226,137,281" href="../elements/id-a492aa8809bd4925a8b5246f3a8af8be.html"  target="element">
				  		<area shape="rect" coords="670,226,790,281" href="../elements/id-747d1e52f4bb400e86ddedd00e6ec89b.html"  target="element">
				  		<area shape="rect" coords="346,340,466,395" href="../elements/id-78a339247a624fb891e4c3482b2a4b14.html"  target="element">
				  		<area shape="rect" coords="214,226,598,281" href="../elements/id-9f0bd27e403c439eb442b0e39a8024bc.html"  target="element">
				  		<area shape="rect" coords="663,10,796,65" href="../elements/id-0e811da8e8df42209b79a3e64950e2a8.html"  target="element">
				  		<area shape="rect" coords="442,10,575,65" href="../elements/id-fc3a78da55aa4126a242436cccf4a1f2.html"  target="element">
				  		<area shape="rect" coords="226,10,359,65" href="../elements/id-5a7ce83adaf742b68f27bdd769a262ea.html"  target="element">
				  		<area shape="rect" coords="10,10,143,65" href="../elements/id-b9ef43c327bd4cffbb6d8b881565fe4e.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-b9ef43c327bd4cffbb6d8b881565fe4e.html" target="element"> A-Oportunita  </a> </td>
											    <td> <a href="../elements/id-b9ef43c327bd4cffbb6d8b881565fe4e.html" target="element" class="i18n-elementtype-BusinessProcess">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-5a7ce83adaf742b68f27bdd769a262ea.html" target="element"> B-Akvizice  </a> </td>
											    <td> <a href="../elements/id-5a7ce83adaf742b68f27bdd769a262ea.html" target="element" class="i18n-elementtype-BusinessProcess">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-fc3a78da55aa4126a242436cccf4a1f2.html" target="element"> C-Realizace  </a> </td>
											    <td> <a href="../elements/id-fc3a78da55aa4126a242436cccf4a1f2.html" target="element" class="i18n-elementtype-BusinessProcess">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-0e811da8e8df42209b79a3e64950e2a8.html" target="element"> D-Implementace </a> </td>
											    <td> <a href="../elements/id-0e811da8e8df42209b79a3e64950e2a8.html" target="element" class="i18n-elementtype-BusinessProcess">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-9f0bd27e403c439eb442b0e39a8024bc.html" target="element"> Proggress </a> </td>
											    <td> <a href="../elements/id-9f0bd27e403c439eb442b0e39a8024bc.html" target="element" class="i18n-elementtype-BusinessProcess">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-78a339247a624fb891e4c3482b2a4b14.html" target="element"> Kontroling </a> </td>
											    <td> <a href="../elements/id-78a339247a624fb891e4c3482b2a4b14.html" target="element" class="i18n-elementtype-BusinessProcess">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-747d1e52f4bb400e86ddedd00e6ec89b.html" target="element"> Acceptance </a> </td>
											    <td> <a href="../elements/id-747d1e52f4bb400e86ddedd00e6ec89b.html" target="element" class="i18n-elementtype-BusinessProcess">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-a492aa8809bd4925a8b5246f3a8af8be.html" target="element"> Team Setup </a> </td>
											    <td> <a href="../elements/id-a492aa8809bd4925a8b5246f3a8af8be.html" target="element" class="i18n-elementtype-BusinessProcess">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-895e27f28a2c461a9266ebd52abedc49.html" target="element"> Plan </a> </td>
											    <td> <a href="../elements/id-895e27f28a2c461a9266ebd52abedc49.html" target="element" class="i18n-elementtype-BusinessProcess">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-236f8d4e116e4d1596e776f38c55cd3f.html" target="element"> Realization </a> </td>
											    <td> <a href="../elements/id-236f8d4e116e4d1596e776f38c55cd3f.html" target="element" class="i18n-elementtype-BusinessProcess">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-4235801c23744f4ab731709cf6e44f7a.html" target="element"> Escalation </a> </td>
											    <td> <a href="../elements/id-4235801c23744f4ab731709cf6e44f7a.html" target="element" class="i18n-elementtype-BusinessProcess">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-940170afc1ca4c2d816f25b826588b08.html" target="element"> Evaluation </a> </td>
											    <td> <a href="../elements/id-940170afc1ca4c2d816f25b826588b08.html" target="element" class="i18n-elementtype-BusinessProcess">
											    </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-a3c0aee57ec64f5296ec6693b18cd809.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-a3c0aee57ec64f5296ec6693b18cd809.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-b9ef43c327bd4cffbb6d8b881565fe4e.html" target="element"> A-Oportunita  </a> </td>
																		<td> <a href="../elements/id-5a7ce83adaf742b68f27bdd769a262ea.html" target="element"> B-Akvizice  </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-0bc64df74ef741d8a89974f5c559d9f4.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-0bc64df74ef741d8a89974f5c559d9f4.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-5a7ce83adaf742b68f27bdd769a262ea.html" target="element"> B-Akvizice  </a> </td>
																		<td> <a href="../elements/id-fc3a78da55aa4126a242436cccf4a1f2.html" target="element"> C-Realizace  </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-b8dc58c6fec74993a028a491b97e9d09.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-b8dc58c6fec74993a028a491b97e9d09.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-fc3a78da55aa4126a242436cccf4a1f2.html" target="element"> C-Realizace  </a> </td>
																		<td> <a href="../elements/id-0e811da8e8df42209b79a3e64950e2a8.html" target="element"> D-Implementace </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-695455710f8a47caba416efa8e5888a7.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-695455710f8a47caba416efa8e5888a7.html" target="element" class="i18n-elementtype-FlowRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-9f0bd27e403c439eb442b0e39a8024bc.html" target="element"> Proggress </a> </td>
																		<td> <a href="../elements/id-747d1e52f4bb400e86ddedd00e6ec89b.html" target="element"> Acceptance </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-93661d5ae57047fda083d3313c4c69b5.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-93661d5ae57047fda083d3313c4c69b5.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-78a339247a624fb891e4c3482b2a4b14.html" target="element"> Kontroling </a> </td>
																		<td> <a href="../elements/id-9f0bd27e403c439eb442b0e39a8024bc.html" target="element"> Proggress </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-51a3d2bbf58a4ee88a3df08925108435.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-51a3d2bbf58a4ee88a3df08925108435.html" target="element" class="i18n-elementtype-FlowRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-a492aa8809bd4925a8b5246f3a8af8be.html" target="element"> Team Setup </a> </td>
																		<td> <a href="../elements/id-9f0bd27e403c439eb442b0e39a8024bc.html" target="element"> Proggress </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-044b208b559046dcb16bd19edddf4d87.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-044b208b559046dcb16bd19edddf4d87.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-895e27f28a2c461a9266ebd52abedc49.html" target="element"> Plan </a> </td>
																		<td> <a href="../elements/id-a492aa8809bd4925a8b5246f3a8af8be.html" target="element"> Team Setup </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-77053e3b8fd74e85a9adc2f687f6e138.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-77053e3b8fd74e85a9adc2f687f6e138.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-236f8d4e116e4d1596e776f38c55cd3f.html" target="element"> Realization </a> </td>
																		<td> <a href="../elements/id-9f0bd27e403c439eb442b0e39a8024bc.html" target="element"> Proggress </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-cc62f6f1b77840e6817fdaf50be25d83.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-cc62f6f1b77840e6817fdaf50be25d83.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-4235801c23744f4ab731709cf6e44f7a.html" target="element"> Escalation </a> </td>
																		<td> <a href="../elements/id-9f0bd27e403c439eb442b0e39a8024bc.html" target="element"> Proggress </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-906789c098844c90a0e591f1efa77953.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-906789c098844c90a0e591f1efa77953.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-940170afc1ca4c2d816f25b826588b08.html" target="element"> Evaluation </a> </td>
																		<td> <a href="../elements/id-747d1e52f4bb400e86ddedd00e6ec89b.html" target="element"> Acceptance </a> </td>
																	</tr>


								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>