<!DOCTYPE html>
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>C-Realizace</title>

	<!-- JQUERY -->
	<script type="text/javascript" src="../../lib/jquery/jquery.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>C-Realizace</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-ada9af80aa7341fb9ef83f02388e2fff.png" alt="C-Realizace" usemap="#id-ada9af80aa7341fb9ef83f02388e2fffmap"/>
			   <map name="id-ada9af80aa7341fb9ef83f02388e2fffmap">
				  		<area shape="rect" coords="407,237,527,261" href="../elements/id-39e934a1e725492e8795727dc40f1b8b.html"  target="element">
				  		        <area shape="rect" coords="1004,106,1173,130" href="../objects/id-8c4a0eb91df54ce19d362a03af34d8b0.html" target="element" >
				  		        <area shape="rect" coords="1004,34,1173,58" href="../objects/id-73b37ee615214113ac366335c2592b12.html" target="element" >
				  		        <area shape="rect" coords="1004,82,1173,106" href="../objects/id-4749a7d99505475c8bc281d00f4e32d6.html" target="element" >
				  		        <area shape="rect" coords="1004,58,1173,82" href="../objects/id-f2637316b8744616839a0559db23ba03.html" target="element" >

				          <area shape="rect" coords="992,10,1208,134" href="../objects/id-9a3bde925687409d8bea8684d7f9fb96.html" target="element" >
				  		<area shape="rect" coords="969,418,1089,473" href="../elements/id-31b6d1d53c2d409db02175545daf1c16.html"  target="element">
				  		<area shape="rect" coords="1077,154,1197,209" href="../elements/id-658137d6b2bc433c83d5dcb8d4be718a.html"  target="element">
				  		<area shape="rect" coords="1088,280,1208,335" href="../elements/id-6672a9155ff840f58bb627976cd6af4e.html"  target="element">
				  		<area shape="rect" coords="407,208,527,232" href="../elements/id-0ff80c753cbd4cd7ac14567beb7687c9.html"  target="element">
				  		<area shape="rect" coords="308,274,428,310" href="../elements/id-03625aca1f93489dbf592ee1fffc26f6.html"  target="element">
				  		<area shape="rect" coords="407,178,527,202" href="../elements/id-62d059614f0045c6ba73825e1f3ba44e.html"  target="element">
				  		<area shape="rect" coords="189,10,309,65" href="../views/id-c972f7ce6a5c4afab06a914a8da798ce.html"  target="view">
				      <!-- Other diagram objects -->
				  		<area shape="rect" coords="790,10,910,65" href="../views/id-27b322ec2b55422c9c5af9394d3d75e5.html"  target="view">
				      <!-- Other diagram objects -->
				  		<area shape="rect" coords="646,790,766,845" href="../elements/id-70ba896f7ac1408c8b817819c2ee779e.html"  target="element">
				  		<area shape="rect" coords="118,862,238,917" href="../elements/id-70ba896f7ac1408c8b817819c2ee779e.html"  target="element">
				  		<area shape="rect" coords="94,694,214,749" href="../elements/id-a13e458790b94ac78bbcdcb7e71083bb.html"  target="element">
				  		<area shape="rect" coords="561,10,681,65" href="../views/id-c3c998fc9955406aaa2ead07fffab970.html"  target="view">
				      <!-- Other diagram objects -->
				  		<area shape="rect" coords="609,310,729,335" href="../elements/id-838277dc1fd044fdbb95e292dc2b3d44.html"  target="element">
				  		<area shape="rect" coords="334,862,454,917" href="../elements/id-eac521e718d046ba818568060306c588.html"  target="element">
				  		<area shape="rect" coords="334,790,454,845" href="../elements/id-3bfca7ff01954216ae9aa2cba8b1e5a3.html"  target="element">
				  		<area shape="rect" coords="226,694,346,749" href="../elements/id-7af154be8d7244ec9b924d0ebfe9aae6.html"  target="element">
				  		<area shape="rect" coords="118,790,238,845" href="../elements/id-9ebe39c3c9a94f5aadc89ccfcf16e5b8.html"  target="element">
				  		<area shape="rect" coords="609,346,729,371" href="../elements/id-67d317e9b4c448c8920febd985eb1f2c.html"  target="element">
				  		<area shape="rect" coords="694,694,814,749" href="../elements/id-0b7b8d74a1c546fd85b6b124da0a4117.html"  target="element">
				  		<area shape="rect" coords="308,334,428,359" href="../elements/id-67d317e9b4c448c8920febd985eb1f2c.html"  target="element">
				  		<area shape="rect" coords="671,922,791,977" href="../elements/id-542eb6e8b5324e5c990450d1f81122cd.html"  target="element">
				  		<area shape="rect" coords="909,982,1029,1037" href="../elements/id-a1ae34aed7d043fca22f4db263ac7316.html"  target="element">
				  		<area shape="rect" coords="671,862,791,917" href="../elements/id-a5bb48a1d7994441b495d0045cfd21b5.html"  target="element">
				  		<area shape="rect" coords="671,982,791,1037" href="../elements/id-a80e871a700043b6bdddf4aa5c028af6.html"  target="element">
				  		<area shape="rect" coords="909,862,1029,917" href="../elements/id-9ebe39c3c9a94f5aadc89ccfcf16e5b8.html"  target="element">
				  		<area shape="rect" coords="946,790,1066,845" href="../elements/id-3bfca7ff01954216ae9aa2cba8b1e5a3.html"  target="element">
				  		<area shape="rect" coords="10,113,130,168" href="../elements/id-2f28c30bd7d24cc0bf7ec19d43f04dfc.html"  target="element">
				  		<area shape="rect" coords="909,922,1029,977" href="../elements/id-d26c4f1760d04712a8f19c7b9af18361.html"  target="element">
				  		<area shape="rect" coords="790,790,910,845" href="../elements/id-58641ff761214f81821f527bb215d799.html"  target="element">
				  		<area shape="rect" coords="393,10,513,65" href="../views/id-71ea52d57618499da772623d8a32ca30.html"  target="view">
				      <!-- Other diagram objects -->
				  		<area shape="rect" coords="873,274,993,310" href="../elements/id-ad4430262d9f49e0845a8e81090f6d3f.html"  target="element">
				  				<area shape="rect" coords="560,490,680,527" href="../elements/id-ac22e8e3a22e4a7c83b14a23d992f5f7.html"  target="element">
				  				<area shape="rect" coords="429,490,549,527" href="../elements/id-b43a2535f07c48fa8d12c4b5aec05a5b.html"  target="element">
				  				<area shape="rect" coords="429,586,680,611" href="../elements/id-b178e2e8910441a7a3e14e304734e887.html"  target="element">
				  				<area shape="rect" coords="429,538,549,575" href="../elements/id-87373a0c553f441d8b66f16e1736c33f.html"  target="element">
				  				<area shape="rect" coords="560,442,680,479" href="../elements/id-5a0efc6d2dbd483fb1b7eef22a912729.html"  target="element">
				  				<area shape="rect" coords="429,442,549,479" href="../elements/id-27fb9f4a5b5c4da69c7e455e36fd5a02.html"  target="element">
				  				<area shape="rect" coords="560,538,680,575" href="../elements/id-1b00426cf0194b9ebf910672079e9302.html"  target="element">

				  		<area shape="rect" coords="417,418,694,623" href="../elements/id-6c5e7dcfc234471d9d6ccef608da9310.html"  target="element">
				  		<area shape="rect" coords="189,418,309,473" href="../elements/id-1844a6219a36408bb45e101fe9bd7242.html"  target="element">
				  		<area shape="rect" coords="801,418,921,473" href="../elements/id-6106a4a42d6a499aa06e654506e8b1e7.html"  target="element">
				  		<area shape="rect" coords="190,114,921,168" href="../elements/id-bf6a860f036f40dd917aab4771d03a20.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-bf6a860f036f40dd917aab4771d03a20.html" target="element"> C-Realizace </a> </td>
											    <td> <a href="../elements/id-bf6a860f036f40dd917aab4771d03a20.html" target="element" class="i18n-elementtype-BusinessProcess">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-6106a4a42d6a499aa06e654506e8b1e7.html" target="element"> 10- Akceptace </a> </td>
											    <td> <a href="../elements/id-6106a4a42d6a499aa06e654506e8b1e7.html" target="element" class="i18n-elementtype-BusinessProcess">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-1844a6219a36408bb45e101fe9bd7242.html" target="element"> 8 - Projektov&#253; pl&#225;n </a> </td>
											    <td> <a href="../elements/id-1844a6219a36408bb45e101fe9bd7242.html" target="element" class="i18n-elementtype-BusinessProcess">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-6c5e7dcfc234471d9d6ccef608da9310.html" target="element"> 9 - Realizace </a> </td>
											    <td> <a href="../elements/id-6c5e7dcfc234471d9d6ccef608da9310.html" target="element" class="i18n-elementtype-BusinessProcess">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-1b00426cf0194b9ebf910672079e9302.html" target="element"> Dokumenta&#269;n&#237; &#269;innost </a> </td>
													    <td> <a href="../elements/id-1b00426cf0194b9ebf910672079e9302.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-27fb9f4a5b5c4da69c7e455e36fd5a02.html" target="element"> Anal&#253;za </a> </td>
													    <td> <a href="../elements/id-27fb9f4a5b5c4da69c7e455e36fd5a02.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-5a0efc6d2dbd483fb1b7eef22a912729.html" target="element"> V&#253;voj </a> </td>
													    <td> <a href="../elements/id-5a0efc6d2dbd483fb1b7eef22a912729.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-87373a0c553f441d8b66f16e1736c33f.html" target="element"> Implementace </a> </td>
													    <td> <a href="../elements/id-87373a0c553f441d8b66f16e1736c33f.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-b178e2e8910441a7a3e14e304734e887.html" target="element"> Projekt management </a> </td>
													    <td> <a href="../elements/id-b178e2e8910441a7a3e14e304734e887.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-b43a2535f07c48fa8d12c4b5aec05a5b.html" target="element"> N&#225;vrh </a> </td>
													    <td> <a href="../elements/id-b43a2535f07c48fa8d12c4b5aec05a5b.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-ac22e8e3a22e4a7c83b14a23d992f5f7.html" target="element"> Testing </a> </td>
													    <td> <a href="../elements/id-ac22e8e3a22e4a7c83b14a23d992f5f7.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-ad4430262d9f49e0845a8e81090f6d3f.html" target="element"> Akcepta&#269;n&#237; protokol </a> </td>
											    <td> <a href="../elements/id-ad4430262d9f49e0845a8e81090f6d3f.html" target="element" class="i18n-elementtype-Contract">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../views/id-71ea52d57618499da772623d8a32ca30.html" target="view"> Bussiness Flow - navigator </a> </td>
											    <td> <a href="../views/id-71ea52d57618499da772623d8a32ca30.html" target="view" class="i18n-viewpoint-"> </a> </td>
											</tr>
									    <!-- Other graphical objects -->

											<tr>
											    <td> <a href="../elements/id-58641ff761214f81821f527bb215d799.html" target="element"> Delivery t&#253;m </a> </td>
											    <td> <a href="../elements/id-58641ff761214f81821f527bb215d799.html" target="element" class="i18n-elementtype-BusinessRole">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-d26c4f1760d04712a8f19c7b9af18361.html" target="element"> V&#253;voj&#225;&#345; </a> </td>
											    <td> <a href="../elements/id-d26c4f1760d04712a8f19c7b9af18361.html" target="element" class="i18n-elementtype-BusinessRole">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-2f28c30bd7d24cc0bf7ec19d43f04dfc.html" target="element"> Projektov&#253; manager </a> </td>
											    <td> <a href="../elements/id-2f28c30bd7d24cc0bf7ec19d43f04dfc.html" target="element" class="i18n-elementtype-BusinessRole">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-3bfca7ff01954216ae9aa2cba8b1e5a3.html" target="element"> Business Developer </a> </td>
											    <td> <a href="../elements/id-3bfca7ff01954216ae9aa2cba8b1e5a3.html" target="element" class="i18n-elementtype-BusinessRole">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-9ebe39c3c9a94f5aadc89ccfcf16e5b8.html" target="element"> Technick&#253; Garant </a> </td>
											    <td> <a href="../elements/id-9ebe39c3c9a94f5aadc89ccfcf16e5b8.html" target="element" class="i18n-elementtype-BusinessRole">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-a80e871a700043b6bdddf4aa5c028af6.html" target="element"> OPS </a> </td>
											    <td> <a href="../elements/id-a80e871a700043b6bdddf4aa5c028af6.html" target="element" class="i18n-elementtype-BusinessRole">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-a5bb48a1d7994441b495d0045cfd21b5.html" target="element"> QA </a> </td>
											    <td> <a href="../elements/id-a5bb48a1d7994441b495d0045cfd21b5.html" target="element" class="i18n-elementtype-BusinessRole">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-a1ae34aed7d043fca22f4db263ac7316.html" target="element"> Technical writer </a> </td>
											    <td> <a href="../elements/id-a1ae34aed7d043fca22f4db263ac7316.html" target="element" class="i18n-elementtype-BusinessRole">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-542eb6e8b5324e5c990450d1f81122cd.html" target="element"> Servis </a> </td>
											    <td> <a href="../elements/id-542eb6e8b5324e5c990450d1f81122cd.html" target="element" class="i18n-elementtype-BusinessRole">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-67d317e9b4c448c8920febd985eb1f2c.html" target="element"> Ext. dod&#225;vka </a> </td>
											    <td> <a href="../elements/id-67d317e9b4c448c8920febd985eb1f2c.html" target="element" class="i18n-elementtype-BusinessRole">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-0b7b8d74a1c546fd85b6b124da0a4117.html" target="element"> Realiza&#269;n&#237; t&#253;m </a> </td>
											    <td> <a href="../elements/id-0b7b8d74a1c546fd85b6b124da0a4117.html" target="element" class="i18n-elementtype-BusinessRole">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-67d317e9b4c448c8920febd985eb1f2c.html" target="element"> Ext. dod&#225;vka </a> </td>
											    <td> <a href="../elements/id-67d317e9b4c448c8920febd985eb1f2c.html" target="element" class="i18n-elementtype-BusinessRole">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-9ebe39c3c9a94f5aadc89ccfcf16e5b8.html" target="element"> Technick&#253; Garant </a> </td>
											    <td> <a href="../elements/id-9ebe39c3c9a94f5aadc89ccfcf16e5b8.html" target="element" class="i18n-elementtype-BusinessRole">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-7af154be8d7244ec9b924d0ebfe9aae6.html" target="element"> Projektov&#253; t&#253;m </a> </td>
											    <td> <a href="../elements/id-7af154be8d7244ec9b924d0ebfe9aae6.html" target="element" class="i18n-elementtype-BusinessRole">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-3bfca7ff01954216ae9aa2cba8b1e5a3.html" target="element"> Business Developer </a> </td>
											    <td> <a href="../elements/id-3bfca7ff01954216ae9aa2cba8b1e5a3.html" target="element" class="i18n-elementtype-BusinessRole">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-eac521e718d046ba818568060306c588.html" target="element"> Obchodn&#237;k </a> </td>
											    <td> <a href="../elements/id-eac521e718d046ba818568060306c588.html" target="element" class="i18n-elementtype-BusinessRole">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-838277dc1fd044fdbb95e292dc2b3d44.html" target="element"> Z&#225;kazn&#237;k </a> </td>
											    <td> <a href="../elements/id-838277dc1fd044fdbb95e292dc2b3d44.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../views/id-c3c998fc9955406aaa2ead07fffab970.html" target="view"> Bussiness týmy </a> </td>
											    <td> <a href="../views/id-c3c998fc9955406aaa2ead07fffab970.html" target="view" class="i18n-viewpoint-"> </a> </td>
											</tr>
									    <!-- Other graphical objects -->

											<tr>
											    <td> <a href="../elements/id-a13e458790b94ac78bbcdcb7e71083bb.html" target="element"> Vedouc&#237; BS </a> </td>
											    <td> <a href="../elements/id-a13e458790b94ac78bbcdcb7e71083bb.html" target="element" class="i18n-elementtype-BusinessRole">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-70ba896f7ac1408c8b817819c2ee779e.html" target="element"> Business analytik </a> </td>
											    <td> <a href="../elements/id-70ba896f7ac1408c8b817819c2ee779e.html" target="element" class="i18n-elementtype-BusinessRole">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-70ba896f7ac1408c8b817819c2ee779e.html" target="element"> Business analytik </a> </td>
											    <td> <a href="../elements/id-70ba896f7ac1408c8b817819c2ee779e.html" target="element" class="i18n-elementtype-BusinessRole">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../views/id-27b322ec2b55422c9c5af9394d3d75e5.html" target="view"> D-Uzavření projektu </a> </td>
											    <td> <a href="../views/id-27b322ec2b55422c9c5af9394d3d75e5.html" target="view" class="i18n-viewpoint-"> </a> </td>
											</tr>
									    <!-- Other graphical objects -->

											<tr>
											    <td> <a href="../views/id-c972f7ce6a5c4afab06a914a8da798ce.html" target="view"> B-Akvizice </a> </td>
											    <td> <a href="../views/id-c972f7ce6a5c4afab06a914a8da798ce.html" target="view" class="i18n-viewpoint-"> </a> </td>
											</tr>
									    <!-- Other graphical objects -->

											<tr>
											    <td> <a href="../elements/id-62d059614f0045c6ba73825e1f3ba44e.html" target="element"> Jira epic </a> </td>
											    <td> <a href="../elements/id-62d059614f0045c6ba73825e1f3ba44e.html" target="element" class="i18n-elementtype-Contract">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-03625aca1f93489dbf592ee1fffc26f6.html" target="element"> Projektov&#253; pl&#225;n </a> </td>
											    <td> <a href="../elements/id-03625aca1f93489dbf592ee1fffc26f6.html" target="element" class="i18n-elementtype-Contract">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-0ff80c753cbd4cd7ac14567beb7687c9.html" target="element"> Registr kapacit </a> </td>
											    <td> <a href="../elements/id-0ff80c753cbd4cd7ac14567beb7687c9.html" target="element" class="i18n-elementtype-Contract">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-6672a9155ff840f58bb627976cd6af4e.html" target="element"> Change request </a> </td>
											    <td> <a href="../elements/id-6672a9155ff840f58bb627976cd6af4e.html" target="element" class="i18n-elementtype-BusinessEvent">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-658137d6b2bc433c83d5dcb8d4be718a.html" target="element"> A-Oportunita </a> </td>
											    <td> <a href="../elements/id-658137d6b2bc433c83d5dcb8d4be718a.html" target="element" class="i18n-elementtype-BusinessProcess">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-31b6d1d53c2d409db02175545daf1c16.html" target="element"> Akceptace s v&#253;hradou </a> </td>
											    <td> <a href="../elements/id-31b6d1d53c2d409db02175545daf1c16.html" target="element" class="i18n-elementtype-BusinessEvent">
											    </a> </td>
											</tr>

									        <tr>
									           <td> <a href="../objects/id-9a3bde925687409d8bea8684d7f9fb96.html" target="element"> Legenda </a> </td>
									           <td> <a href="../objects/id-9a3bde925687409d8bea8684d7f9fb96.html" target="element" class="i18n-elementtype-DiagramModelGroup"> </a> </td>
									        </tr>

											        <tr>
											           <td> <a href="../objects/id-f2637316b8744616839a0559db23ba03.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-f2637316b8744616839a0559db23ba03.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											        <tr>
											           <td> <a href="../objects/id-4749a7d99505475c8bc281d00f4e32d6.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-4749a7d99505475c8bc281d00f4e32d6.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											        <tr>
											           <td> <a href="../objects/id-73b37ee615214113ac366335c2592b12.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-73b37ee615214113ac366335c2592b12.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											        <tr>
											           <td> <a href="../objects/id-8c4a0eb91df54ce19d362a03af34d8b0.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-8c4a0eb91df54ce19d362a03af34d8b0.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											
											<tr>
											    <td> <a href="../elements/id-39e934a1e725492e8795727dc40f1b8b.html" target="element"> Harmonogram </a> </td>
											    <td> <a href="../elements/id-39e934a1e725492e8795727dc40f1b8b.html" target="element" class="i18n-elementtype-Contract">
											    </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-38ac2a3d645e4994b880e99166cb49e1.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-38ac2a3d645e4994b880e99166cb49e1.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-bf6a860f036f40dd917aab4771d03a20.html" target="element"> C-Realizace </a> </td>
																		<td> <a href="../elements/id-6672a9155ff840f58bb627976cd6af4e.html" target="element"> Change request </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-61caaa6445f04cb6b1e0057d659a470e.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-61caaa6445f04cb6b1e0057d659a470e.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-6106a4a42d6a499aa06e654506e8b1e7.html" target="element"> 10- Akceptace </a> </td>
																		<td> <a href="../elements/id-bf6a860f036f40dd917aab4771d03a20.html" target="element"> C-Realizace </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-f8261ef9514546d0b99619d9efb97415.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-f8261ef9514546d0b99619d9efb97415.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-6106a4a42d6a499aa06e654506e8b1e7.html" target="element"> 10- Akceptace </a> </td>
																		<td> <a href="../elements/id-ad4430262d9f49e0845a8e81090f6d3f.html" target="element"> Akcepta&#269;n&#237; protokol </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-7d661f4fd9c942e4aa527356e8ed32da.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-7d661f4fd9c942e4aa527356e8ed32da.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-6106a4a42d6a499aa06e654506e8b1e7.html" target="element"> 10- Akceptace </a> </td>
																		<td> <a href="../elements/id-31b6d1d53c2d409db02175545daf1c16.html" target="element"> Akceptace s v&#253;hradou </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-7901c14b790944a2882fe4aa6d0662f8.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-7901c14b790944a2882fe4aa6d0662f8.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-1844a6219a36408bb45e101fe9bd7242.html" target="element"> 8 - Projektov&#253; pl&#225;n </a> </td>
																		<td> <a href="../elements/id-bf6a860f036f40dd917aab4771d03a20.html" target="element"> C-Realizace </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-6e434d8ab4994888a6b66d395ed9959a.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-6e434d8ab4994888a6b66d395ed9959a.html" target="element" class="i18n-elementtype-FlowRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-1844a6219a36408bb45e101fe9bd7242.html" target="element"> 8 - Projektov&#253; pl&#225;n </a> </td>
																		<td> <a href="../elements/id-6c5e7dcfc234471d9d6ccef608da9310.html" target="element"> 9 - Realizace </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-a73bb5e9a71845038c9cdc5797306cf4.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-a73bb5e9a71845038c9cdc5797306cf4.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-1844a6219a36408bb45e101fe9bd7242.html" target="element"> 8 - Projektov&#253; pl&#225;n </a> </td>
																		<td> <a href="../elements/id-03625aca1f93489dbf592ee1fffc26f6.html" target="element"> Projektov&#253; pl&#225;n </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-926d5756117d41adb52b95fee61ddaf2.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-926d5756117d41adb52b95fee61ddaf2.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-6c5e7dcfc234471d9d6ccef608da9310.html" target="element"> 9 - Realizace </a> </td>
																		<td> <a href="../elements/id-bf6a860f036f40dd917aab4771d03a20.html" target="element"> C-Realizace </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-61166b11725d4f48b53abfc9753a8d4e.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-61166b11725d4f48b53abfc9753a8d4e.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-6c5e7dcfc234471d9d6ccef608da9310.html" target="element"> 9 - Realizace </a> </td>
																		<td> <a href="../elements/id-1b00426cf0194b9ebf910672079e9302.html" target="element"> Dokumenta&#269;n&#237; &#269;innost </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-7f852a9d90e04562aedd172fc730589c.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-7f852a9d90e04562aedd172fc730589c.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-6c5e7dcfc234471d9d6ccef608da9310.html" target="element"> 9 - Realizace </a> </td>
																		<td> <a href="../elements/id-27fb9f4a5b5c4da69c7e455e36fd5a02.html" target="element"> Anal&#253;za </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-9bf2b1d1dacf4967b939a5ce94122980.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-9bf2b1d1dacf4967b939a5ce94122980.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-6c5e7dcfc234471d9d6ccef608da9310.html" target="element"> 9 - Realizace </a> </td>
																		<td> <a href="../elements/id-5a0efc6d2dbd483fb1b7eef22a912729.html" target="element"> V&#253;voj </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-84ca673d001e4faf92f42418bfb51a9a.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-84ca673d001e4faf92f42418bfb51a9a.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-6c5e7dcfc234471d9d6ccef608da9310.html" target="element"> 9 - Realizace </a> </td>
																		<td> <a href="../elements/id-87373a0c553f441d8b66f16e1736c33f.html" target="element"> Implementace </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-3c45d585b5f34948aad7f77e11814f6d.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-3c45d585b5f34948aad7f77e11814f6d.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-6c5e7dcfc234471d9d6ccef608da9310.html" target="element"> 9 - Realizace </a> </td>
																		<td> <a href="../elements/id-b178e2e8910441a7a3e14e304734e887.html" target="element"> Projekt management </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-31eb9856c92446178b8870b71a56a88d.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-31eb9856c92446178b8870b71a56a88d.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-6c5e7dcfc234471d9d6ccef608da9310.html" target="element"> 9 - Realizace </a> </td>
																		<td> <a href="../elements/id-b43a2535f07c48fa8d12c4b5aec05a5b.html" target="element"> N&#225;vrh </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-1e834371f1d447f981331635b9e7eca9.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-1e834371f1d447f981331635b9e7eca9.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-6c5e7dcfc234471d9d6ccef608da9310.html" target="element"> 9 - Realizace </a> </td>
																		<td> <a href="../elements/id-ac22e8e3a22e4a7c83b14a23d992f5f7.html" target="element"> Testing </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-78902288ed0446c8af031485c87cfe78.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-78902288ed0446c8af031485c87cfe78.html" target="element" class="i18n-elementtype-FlowRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-6c5e7dcfc234471d9d6ccef608da9310.html" target="element"> 9 - Realizace </a> </td>
																		<td> <a href="../elements/id-6106a4a42d6a499aa06e654506e8b1e7.html" target="element"> 10- Akceptace </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-aff18138130b4ebca2058b0a3f2c1f3d.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-aff18138130b4ebca2058b0a3f2c1f3d.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-6c5e7dcfc234471d9d6ccef608da9310.html" target="element"> 9 - Realizace </a> </td>
																		<td> <a href="../elements/id-03625aca1f93489dbf592ee1fffc26f6.html" target="element"> Projektov&#253; pl&#225;n </a> </td>
																	</tr>

											
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->
																	<tr>
																		<td> <a href="../elements/id-6e22cdc97f484cc4a8fb150b3ef15dae.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-6e22cdc97f484cc4a8fb150b3ef15dae.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-58641ff761214f81821f527bb215d799.html" target="element"> Delivery t&#253;m </a> </td>
																		<td> <a href="../elements/id-0b7b8d74a1c546fd85b6b124da0a4117.html" target="element"> Realiza&#269;n&#237; t&#253;m </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-28c893d9e8124766b74c2547fbb873e7.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-28c893d9e8124766b74c2547fbb873e7.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-d26c4f1760d04712a8f19c7b9af18361.html" target="element"> V&#253;voj&#225;&#345; </a> </td>
																		<td> <a href="../elements/id-58641ff761214f81821f527bb215d799.html" target="element"> Delivery t&#253;m </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-65170224ce0349b1a09775d7ab3719a6.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-65170224ce0349b1a09775d7ab3719a6.html" target="element" class="i18n-elementtype-AssignmentRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-2f28c30bd7d24cc0bf7ec19d43f04dfc.html" target="element"> Projektov&#253; manager </a> </td>
																		<td> <a href="../elements/id-bf6a860f036f40dd917aab4771d03a20.html" target="element"> C-Realizace </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-09696f535ccd4537aff77264ba367d46.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-09696f535ccd4537aff77264ba367d46.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-3bfca7ff01954216ae9aa2cba8b1e5a3.html" target="element"> Business Developer </a> </td>
																		<td> <a href="../elements/id-0b7b8d74a1c546fd85b6b124da0a4117.html" target="element"> Realiza&#269;n&#237; t&#253;m </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-9c870f6223254f788b03197d1663ae6c.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-9c870f6223254f788b03197d1663ae6c.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-9ebe39c3c9a94f5aadc89ccfcf16e5b8.html" target="element"> Technick&#253; Garant </a> </td>
																		<td> <a href="../elements/id-58641ff761214f81821f527bb215d799.html" target="element"> Delivery t&#253;m </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-f48f9d2ad9ac4c44b83ba923a658e10e.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-f48f9d2ad9ac4c44b83ba923a658e10e.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-a80e871a700043b6bdddf4aa5c028af6.html" target="element"> OPS </a> </td>
																		<td> <a href="../elements/id-58641ff761214f81821f527bb215d799.html" target="element"> Delivery t&#253;m </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-9dc4cfd79149483aa7c7cd2f3e97f63d.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-9dc4cfd79149483aa7c7cd2f3e97f63d.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-a5bb48a1d7994441b495d0045cfd21b5.html" target="element"> QA </a> </td>
																		<td> <a href="../elements/id-58641ff761214f81821f527bb215d799.html" target="element"> Delivery t&#253;m </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-71bb730361f24f6b8bf2019c7d98652b.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-71bb730361f24f6b8bf2019c7d98652b.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-a1ae34aed7d043fca22f4db263ac7316.html" target="element"> Technical writer </a> </td>
																		<td> <a href="../elements/id-58641ff761214f81821f527bb215d799.html" target="element"> Delivery t&#253;m </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-1a85ae52e4674f48ba93bd4c44ebbb5a.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-1a85ae52e4674f48ba93bd4c44ebbb5a.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-542eb6e8b5324e5c990450d1f81122cd.html" target="element"> Servis </a> </td>
																		<td> <a href="../elements/id-58641ff761214f81821f527bb215d799.html" target="element"> Delivery t&#253;m </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-07aa01014aea46278b7ed702ac2f3aa7.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-07aa01014aea46278b7ed702ac2f3aa7.html" target="element" class="i18n-elementtype-AssignmentRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-67d317e9b4c448c8920febd985eb1f2c.html" target="element"> Ext. dod&#225;vka </a> </td>
																		<td> <a href="../elements/id-1844a6219a36408bb45e101fe9bd7242.html" target="element"> 8 - Projektov&#253; pl&#225;n </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-6f56ab5c1f294dd2b967d311754e11c4.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-6f56ab5c1f294dd2b967d311754e11c4.html" target="element" class="i18n-elementtype-AssignmentRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-67d317e9b4c448c8920febd985eb1f2c.html" target="element"> Ext. dod&#225;vka </a> </td>
																		<td> <a href="../elements/id-6c5e7dcfc234471d9d6ccef608da9310.html" target="element"> 9 - Realizace </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-8e021a621e884e2cbd2474eb3805baab.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-8e021a621e884e2cbd2474eb3805baab.html" target="element" class="i18n-elementtype-AssignmentRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-0b7b8d74a1c546fd85b6b124da0a4117.html" target="element"> Realiza&#269;n&#237; t&#253;m </a> </td>
																		<td> <a href="../elements/id-6c5e7dcfc234471d9d6ccef608da9310.html" target="element"> 9 - Realizace </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-f64c343dde6545628ba96aa14b779fe1.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-f64c343dde6545628ba96aa14b779fe1.html" target="element" class="i18n-elementtype-AssignmentRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-0b7b8d74a1c546fd85b6b124da0a4117.html" target="element"> Realiza&#269;n&#237; t&#253;m </a> </td>
																		<td> <a href="../elements/id-6106a4a42d6a499aa06e654506e8b1e7.html" target="element"> 10- Akceptace </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-df308e2387a9478c800fb9ac3aef1f6c.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-df308e2387a9478c800fb9ac3aef1f6c.html" target="element" class="i18n-elementtype-AssignmentRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-67d317e9b4c448c8920febd985eb1f2c.html" target="element"> Ext. dod&#225;vka </a> </td>
																		<td> <a href="../elements/id-6106a4a42d6a499aa06e654506e8b1e7.html" target="element"> 10- Akceptace </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-76fd53cc4d924de0880929280ef54553.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-76fd53cc4d924de0880929280ef54553.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-9ebe39c3c9a94f5aadc89ccfcf16e5b8.html" target="element"> Technick&#253; Garant </a> </td>
																		<td> <a href="../elements/id-7af154be8d7244ec9b924d0ebfe9aae6.html" target="element"> Projektov&#253; t&#253;m </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-a3ca4b11d41d4e71948c00ca768e2fb9.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-a3ca4b11d41d4e71948c00ca768e2fb9.html" target="element" class="i18n-elementtype-AssignmentRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-7af154be8d7244ec9b924d0ebfe9aae6.html" target="element"> Projektov&#253; t&#253;m </a> </td>
																		<td> <a href="../elements/id-1844a6219a36408bb45e101fe9bd7242.html" target="element"> 8 - Projektov&#253; pl&#225;n </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-d935f7b26aba48a8b8504559a818bab2.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-d935f7b26aba48a8b8504559a818bab2.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-3bfca7ff01954216ae9aa2cba8b1e5a3.html" target="element"> Business Developer </a> </td>
																		<td> <a href="../elements/id-7af154be8d7244ec9b924d0ebfe9aae6.html" target="element"> Projektov&#253; t&#253;m </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-4bfb112ec68b44ef925d4e67d15dbc23.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-4bfb112ec68b44ef925d4e67d15dbc23.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-eac521e718d046ba818568060306c588.html" target="element"> Obchodn&#237;k </a> </td>
																		<td> <a href="../elements/id-7af154be8d7244ec9b924d0ebfe9aae6.html" target="element"> Projektov&#253; t&#253;m </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-2ebfc5bbd2504fa0a7500eb9427b218e.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-2ebfc5bbd2504fa0a7500eb9427b218e.html" target="element" class="i18n-elementtype-AssignmentRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-838277dc1fd044fdbb95e292dc2b3d44.html" target="element"> Z&#225;kazn&#237;k </a> </td>
																		<td> <a href="../elements/id-6106a4a42d6a499aa06e654506e8b1e7.html" target="element"> 10- Akceptace </a> </td>
																	</tr>

											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->
																	<tr>
																		<td> <a href="../elements/id-0d93cf1dc4bc47e18308fd0257f6cb99.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-0d93cf1dc4bc47e18308fd0257f6cb99.html" target="element" class="i18n-elementtype-AssignmentRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-a13e458790b94ac78bbcdcb7e71083bb.html" target="element"> Vedouc&#237; BS </a> </td>
																		<td> <a href="../elements/id-1844a6219a36408bb45e101fe9bd7242.html" target="element"> 8 - Projektov&#253; pl&#225;n </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-f835c9c5c3084143b40cc3285b233729.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-f835c9c5c3084143b40cc3285b233729.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-70ba896f7ac1408c8b817819c2ee779e.html" target="element"> Business analytik </a> </td>
																		<td> <a href="../elements/id-7af154be8d7244ec9b924d0ebfe9aae6.html" target="element"> Projektov&#253; t&#253;m </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-7ebf05a1501f474589bbfc51d91987b9.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-7ebf05a1501f474589bbfc51d91987b9.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-70ba896f7ac1408c8b817819c2ee779e.html" target="element"> Business analytik </a> </td>
																		<td> <a href="../elements/id-0b7b8d74a1c546fd85b6b124da0a4117.html" target="element"> Realiza&#269;n&#237; t&#253;m </a> </td>
																	</tr>

											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->
																	<tr>
																		<td> <a href="../elements/id-789f15383fc04a8d9cfb2028d281b8d1.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-789f15383fc04a8d9cfb2028d281b8d1.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-03625aca1f93489dbf592ee1fffc26f6.html" target="element"> Projektov&#253; pl&#225;n </a> </td>
																		<td> <a href="../elements/id-62d059614f0045c6ba73825e1f3ba44e.html" target="element"> Jira epic </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-8fd32aed322441e7938d48a026c0864c.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-8fd32aed322441e7938d48a026c0864c.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-03625aca1f93489dbf592ee1fffc26f6.html" target="element"> Projektov&#253; pl&#225;n </a> </td>
																		<td> <a href="../elements/id-0ff80c753cbd4cd7ac14567beb7687c9.html" target="element"> Registr kapacit </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-fc0ec5b3bfe346688f01d7a9d6272134.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-fc0ec5b3bfe346688f01d7a9d6272134.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-03625aca1f93489dbf592ee1fffc26f6.html" target="element"> Projektov&#253; pl&#225;n </a> </td>
																		<td> <a href="../elements/id-39e934a1e725492e8795727dc40f1b8b.html" target="element"> Harmonogram </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-7151c3a115a74deaa3347021f6fbdc1d.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-7151c3a115a74deaa3347021f6fbdc1d.html" target="element" class="i18n-elementtype-FlowRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-6672a9155ff840f58bb627976cd6af4e.html" target="element"> Change request </a> </td>
																		<td> <a href="../elements/id-658137d6b2bc433c83d5dcb8d4be718a.html" target="element"> A-Oportunita </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-4781386377944c4da94a79670220e72c.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-4781386377944c4da94a79670220e72c.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-31b6d1d53c2d409db02175545daf1c16.html" target="element"> Akceptace s v&#253;hradou </a> </td>
																		<td> <a href="../elements/id-ad4430262d9f49e0845a8e81090f6d3f.html" target="element"> Akcepta&#269;n&#237; protokol </a> </td>
																	</tr>

											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>