<!DOCTYPE html>
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>D-Uzavření projektu</title>

	<!-- JQUERY -->
	<script type="text/javascript" src="../../lib/jquery/jquery.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>D-Uzav&#345;en&#237; projektu</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-27b322ec2b55422c9c5af9394d3d75e5.png" alt="D-Uzavření projektu" usemap="#id-27b322ec2b55422c9c5af9394d3d75e5map"/>
			   <map name="id-27b322ec2b55422c9c5af9394d3d75e5map">
				  		        <area shape="rect" coords="742,106,911,130" href="../objects/id-552e1d290b214011a530375ad645de9e.html" target="element" >
				  		        <area shape="rect" coords="742,34,911,58" href="../objects/id-79ac909974694047a48264ea12c88220.html" target="element" >
				  		        <area shape="rect" coords="742,82,911,106" href="../objects/id-3bef7e6656c6418d9851ad62e673af8e.html" target="element" >
				  		        <area shape="rect" coords="742,58,911,82" href="../objects/id-155201f311e7452da55c5a41b3e853db.html" target="element" >

				          <area shape="rect" coords="730,10,946,134" href="../objects/id-304dc34ace2c41daa1e897c94ea06bdb.html" target="element" >
				  				<area shape="rect" coords="189,370,297,395" href="../elements/id-72fc9f46ab0d4bd3ae59961b03f265f0.html"  target="element">

				  		<area shape="rect" coords="177,334,321,401" href="../elements/id-ef382caa65184ac69582f28780a4ac62.html"  target="element">
				  		<area shape="rect" coords="152,670,272,725" href="../elements/id-58641ff761214f81821f527bb215d799.html"  target="element">
				  		<area shape="rect" coords="152,610,272,665" href="../elements/id-542eb6e8b5324e5c990450d1f81122cd.html"  target="element">
				  		<area shape="rect" coords="152,550,272,605" href="../elements/id-a80e871a700043b6bdddf4aa5c028af6.html"  target="element">
				  		<area shape="rect" coords="177,10,297,65" href="../views/id-ada9af80aa7341fb9ef83f02388e2fff.html"  target="view">
				      <!-- Other diagram objects -->
				  		<area shape="rect" coords="201,466,321,521" href="../elements/id-2b309b0f1c3541fa90e95dc8341a2aaa.html"  target="element">
				  		<area shape="rect" coords="730,466,850,521" href="../elements/id-a13e458790b94ac78bbcdcb7e71083bb.html"  target="element">
				  		<area shape="rect" coords="502,10,622,65" href="../views/id-c3c998fc9955406aaa2ead07fffab970.html"  target="view">
				      <!-- Other diagram objects -->
				  		<area shape="rect" coords="441,466,561,521" href="../elements/id-7af154be8d7244ec9b924d0ebfe9aae6.html"  target="element">
				  		<area shape="rect" coords="586,466,706,521" href="../elements/id-0b7b8d74a1c546fd85b6b124da0a4117.html"  target="element">
				  		<area shape="rect" coords="10,118,130,173" href="../elements/id-2f28c30bd7d24cc0bf7ec19d43f04dfc.html"  target="element">
				  		<area shape="rect" coords="320,10,440,65" href="../views/id-71ea52d57618499da772623d8a32ca30.html"  target="view">
				      <!-- Other diagram objects -->
				  		<area shape="rect" coords="178,118,706,173" href="../elements/id-8562bf64936e4bc795669655e9a0a193.html"  target="element">
				  		<area shape="rect" coords="586,334,706,389" href="../elements/id-3befa6552dcb448991813752e38d7f29.html"  target="element">
				  		<area shape="rect" coords="395,334,515,389" href="../elements/id-e47a804850994beaaff4d821e0a33364.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-e47a804850994beaaff4d821e0a33364.html" target="element"> 12 - Ukon&#269;en&#237; </a> </td>
											    <td> <a href="../elements/id-e47a804850994beaaff4d821e0a33364.html" target="element" class="i18n-elementtype-BusinessProcess">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-3befa6552dcb448991813752e38d7f29.html" target="element"> 13 - Vyhodnocen&#237; </a> </td>
											    <td> <a href="../elements/id-3befa6552dcb448991813752e38d7f29.html" target="element" class="i18n-elementtype-BusinessProcess">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-8562bf64936e4bc795669655e9a0a193.html" target="element"> D-Uzav&#345;en&#237; projektu  </a> </td>
											    <td> <a href="../elements/id-8562bf64936e4bc795669655e9a0a193.html" target="element" class="i18n-elementtype-BusinessProcess">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../views/id-71ea52d57618499da772623d8a32ca30.html" target="view"> Bussiness Flow - navigator </a> </td>
											    <td> <a href="../views/id-71ea52d57618499da772623d8a32ca30.html" target="view" class="i18n-viewpoint-"> </a> </td>
											</tr>
									    <!-- Other graphical objects -->

											<tr>
											    <td> <a href="../elements/id-2f28c30bd7d24cc0bf7ec19d43f04dfc.html" target="element"> Projektov&#253; manager </a> </td>
											    <td> <a href="../elements/id-2f28c30bd7d24cc0bf7ec19d43f04dfc.html" target="element" class="i18n-elementtype-BusinessRole">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-0b7b8d74a1c546fd85b6b124da0a4117.html" target="element"> Realiza&#269;n&#237; t&#253;m </a> </td>
											    <td> <a href="../elements/id-0b7b8d74a1c546fd85b6b124da0a4117.html" target="element" class="i18n-elementtype-BusinessRole">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-7af154be8d7244ec9b924d0ebfe9aae6.html" target="element"> Projektov&#253; t&#253;m </a> </td>
											    <td> <a href="../elements/id-7af154be8d7244ec9b924d0ebfe9aae6.html" target="element" class="i18n-elementtype-BusinessRole">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../views/id-c3c998fc9955406aaa2ead07fffab970.html" target="view"> Bussiness týmy </a> </td>
											    <td> <a href="../views/id-c3c998fc9955406aaa2ead07fffab970.html" target="view" class="i18n-viewpoint-"> </a> </td>
											</tr>
									    <!-- Other graphical objects -->

											<tr>
											    <td> <a href="../elements/id-a13e458790b94ac78bbcdcb7e71083bb.html" target="element"> Vedouc&#237; BS </a> </td>
											    <td> <a href="../elements/id-a13e458790b94ac78bbcdcb7e71083bb.html" target="element" class="i18n-elementtype-BusinessRole">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-2b309b0f1c3541fa90e95dc8341a2aaa.html" target="element"> Care t&#253;m </a> </td>
											    <td> <a href="../elements/id-2b309b0f1c3541fa90e95dc8341a2aaa.html" target="element" class="i18n-elementtype-BusinessRole">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../views/id-ada9af80aa7341fb9ef83f02388e2fff.html" target="view"> C-Realizace </a> </td>
											    <td> <a href="../views/id-ada9af80aa7341fb9ef83f02388e2fff.html" target="view" class="i18n-viewpoint-"> </a> </td>
											</tr>
									    <!-- Other graphical objects -->

											<tr>
											    <td> <a href="../elements/id-a80e871a700043b6bdddf4aa5c028af6.html" target="element"> OPS </a> </td>
											    <td> <a href="../elements/id-a80e871a700043b6bdddf4aa5c028af6.html" target="element" class="i18n-elementtype-BusinessRole">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-542eb6e8b5324e5c990450d1f81122cd.html" target="element"> Servis </a> </td>
											    <td> <a href="../elements/id-542eb6e8b5324e5c990450d1f81122cd.html" target="element" class="i18n-elementtype-BusinessRole">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-58641ff761214f81821f527bb215d799.html" target="element"> Delivery t&#253;m </a> </td>
											    <td> <a href="../elements/id-58641ff761214f81821f527bb215d799.html" target="element" class="i18n-elementtype-BusinessRole">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-ef382caa65184ac69582f28780a4ac62.html" target="element"> 11 - Provozn&#237; re&#382;im - SLA </a> </td>
											    <td> <a href="../elements/id-ef382caa65184ac69582f28780a4ac62.html" target="element" class="i18n-elementtype-BusinessProcess">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-72fc9f46ab0d4bd3ae59961b03f265f0.html" target="element"> Babysitting </a> </td>
													    <td> <a href="../elements/id-72fc9f46ab0d4bd3ae59961b03f265f0.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

											
									        <tr>
									           <td> <a href="../objects/id-304dc34ace2c41daa1e897c94ea06bdb.html" target="element"> Legenda </a> </td>
									           <td> <a href="../objects/id-304dc34ace2c41daa1e897c94ea06bdb.html" target="element" class="i18n-elementtype-DiagramModelGroup"> </a> </td>
									        </tr>

											        <tr>
											           <td> <a href="../objects/id-155201f311e7452da55c5a41b3e853db.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-155201f311e7452da55c5a41b3e853db.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											        <tr>
											           <td> <a href="../objects/id-3bef7e6656c6418d9851ad62e673af8e.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-3bef7e6656c6418d9851ad62e673af8e.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											        <tr>
											           <td> <a href="../objects/id-79ac909974694047a48264ea12c88220.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-79ac909974694047a48264ea12c88220.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											        <tr>
											           <td> <a href="../objects/id-552e1d290b214011a530375ad645de9e.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-552e1d290b214011a530375ad645de9e.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											

								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-20c24d57ee7145efbf887247ddbb3709.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-20c24d57ee7145efbf887247ddbb3709.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-e47a804850994beaaff4d821e0a33364.html" target="element"> 12 - Ukon&#269;en&#237; </a> </td>
																		<td> <a href="../elements/id-8562bf64936e4bc795669655e9a0a193.html" target="element"> D-Uzav&#345;en&#237; projektu  </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-f51820fc60d04b9e903eb86ed4654429.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-f51820fc60d04b9e903eb86ed4654429.html" target="element" class="i18n-elementtype-FlowRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-e47a804850994beaaff4d821e0a33364.html" target="element"> 12 - Ukon&#269;en&#237; </a> </td>
																		<td> <a href="../elements/id-3befa6552dcb448991813752e38d7f29.html" target="element"> 13 - Vyhodnocen&#237; </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-c5c84ba3a7da40798563a8b92d56f480.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-c5c84ba3a7da40798563a8b92d56f480.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-3befa6552dcb448991813752e38d7f29.html" target="element"> 13 - Vyhodnocen&#237; </a> </td>
																		<td> <a href="../elements/id-8562bf64936e4bc795669655e9a0a193.html" target="element"> D-Uzav&#345;en&#237; projektu  </a> </td>
																	</tr>

											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->
																	<tr>
																		<td> <a href="../elements/id-88f83e1a42584e2bac3e82433c863a1a.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-88f83e1a42584e2bac3e82433c863a1a.html" target="element" class="i18n-elementtype-AssignmentRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-2f28c30bd7d24cc0bf7ec19d43f04dfc.html" target="element"> Projektov&#253; manager </a> </td>
																		<td> <a href="../elements/id-8562bf64936e4bc795669655e9a0a193.html" target="element"> D-Uzav&#345;en&#237; projektu  </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-5d44eb9b3fc44b95aff7b8812abc6952.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-5d44eb9b3fc44b95aff7b8812abc6952.html" target="element" class="i18n-elementtype-AssignmentRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-0b7b8d74a1c546fd85b6b124da0a4117.html" target="element"> Realiza&#269;n&#237; t&#253;m </a> </td>
																		<td> <a href="../elements/id-3befa6552dcb448991813752e38d7f29.html" target="element"> 13 - Vyhodnocen&#237; </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-bc6fe492f387481c89d75a066e1e5a57.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-bc6fe492f387481c89d75a066e1e5a57.html" target="element" class="i18n-elementtype-AssignmentRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-7af154be8d7244ec9b924d0ebfe9aae6.html" target="element"> Projektov&#253; t&#253;m </a> </td>
																		<td> <a href="../elements/id-e47a804850994beaaff4d821e0a33364.html" target="element"> 12 - Ukon&#269;en&#237; </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-42e3a6c7c6554f51aa45d1ab7afd07d4.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-42e3a6c7c6554f51aa45d1ab7afd07d4.html" target="element" class="i18n-elementtype-AssignmentRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-7af154be8d7244ec9b924d0ebfe9aae6.html" target="element"> Projektov&#253; t&#253;m </a> </td>
																		<td> <a href="../elements/id-3befa6552dcb448991813752e38d7f29.html" target="element"> 13 - Vyhodnocen&#237; </a> </td>
																	</tr>

											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->
																	<tr>
																		<td> <a href="../elements/id-75611948efc342d58d5f020fc9bade37.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-75611948efc342d58d5f020fc9bade37.html" target="element" class="i18n-elementtype-AssignmentRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-a13e458790b94ac78bbcdcb7e71083bb.html" target="element"> Vedouc&#237; BS </a> </td>
																		<td> <a href="../elements/id-3befa6552dcb448991813752e38d7f29.html" target="element"> 13 - Vyhodnocen&#237; </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-0ffb4f78cd1f48a9929b897858488593.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-0ffb4f78cd1f48a9929b897858488593.html" target="element" class="i18n-elementtype-AssignmentRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-2b309b0f1c3541fa90e95dc8341a2aaa.html" target="element"> Care t&#253;m </a> </td>
																		<td> <a href="../elements/id-ef382caa65184ac69582f28780a4ac62.html" target="element"> 11 - Provozn&#237; re&#382;im - SLA </a> </td>
																	</tr>

											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->
																	<tr>
																		<td> <a href="../elements/id-41b429e9079b4264b63356fed6577e17.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-41b429e9079b4264b63356fed6577e17.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-a80e871a700043b6bdddf4aa5c028af6.html" target="element"> OPS </a> </td>
																		<td> <a href="../elements/id-2b309b0f1c3541fa90e95dc8341a2aaa.html" target="element"> Care t&#253;m </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-a1bcc69e8d104915b43ebd116f1ba372.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-a1bcc69e8d104915b43ebd116f1ba372.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-542eb6e8b5324e5c990450d1f81122cd.html" target="element"> Servis </a> </td>
																		<td> <a href="../elements/id-2b309b0f1c3541fa90e95dc8341a2aaa.html" target="element"> Care t&#253;m </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-88ae4a849340474f90e3536245c2b76d.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-88ae4a849340474f90e3536245c2b76d.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-58641ff761214f81821f527bb215d799.html" target="element"> Delivery t&#253;m </a> </td>
																		<td> <a href="../elements/id-2b309b0f1c3541fa90e95dc8341a2aaa.html" target="element"> Care t&#253;m </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-d871d547f78b422aa25a6f57bce19677.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-d871d547f78b422aa25a6f57bce19677.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-ef382caa65184ac69582f28780a4ac62.html" target="element"> 11 - Provozn&#237; re&#382;im - SLA </a> </td>
																		<td> <a href="../elements/id-72fc9f46ab0d4bd3ae59961b03f265f0.html" target="element"> Babysitting </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-ad29d1ae7bff4a6f9b45f41c7ff2f804.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-ad29d1ae7bff4a6f9b45f41c7ff2f804.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-ef382caa65184ac69582f28780a4ac62.html" target="element"> 11 - Provozn&#237; re&#382;im - SLA </a> </td>
																		<td> <a href="../elements/id-8562bf64936e4bc795669655e9a0a193.html" target="element"> D-Uzav&#345;en&#237; projektu  </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-e41843abb23e4cb48fef9d5dace8666e.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-e41843abb23e4cb48fef9d5dace8666e.html" target="element" class="i18n-elementtype-FlowRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-ef382caa65184ac69582f28780a4ac62.html" target="element"> 11 - Provozn&#237; re&#382;im - SLA </a> </td>
																		<td> <a href="../elements/id-e47a804850994beaaff4d821e0a33364.html" target="element"> 12 - Ukon&#269;en&#237; </a> </td>
																	</tr>

											
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>