<!DOCTYPE html>
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>D-Uzavření projektu lite</title>

	<!-- JQUERY -->
	<script type="text/javascript" src="../../lib/jquery/jquery.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>D-Uzav&#345;en&#237; projektu lite</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-7222b0bfa5544489a9e8b2b0c26866a5.png" alt="D-Uzavření projektu lite" usemap="#id-7222b0bfa5544489a9e8b2b0c26866a5map"/>
			   <map name="id-7222b0bfa5544489a9e8b2b0c26866a5map">
				  		<area shape="rect" coords="10,34,130,89" href="../views/id-4fb33f77d0184e088a9b252fb42fedaf.html"  target="view">
				      <!-- Other diagram objects -->
				  		<area shape="rect" coords="10,454,130,509" href="../elements/id-2b309b0f1c3541fa90e95dc8341a2aaa.html"  target="element">
				  		<area shape="rect" coords="82,262,202,317" href="../elements/id-72fc9f46ab0d4bd3ae59961b03f265f0.html"  target="element">
				  		<area shape="rect" coords="659,454,779,509" href="../elements/id-a13e458790b94ac78bbcdcb7e71083bb.html"  target="element">
				  		<area shape="rect" coords="452,562,572,617" href="../views/id-c3c998fc9955406aaa2ead07fffab970.html"  target="view">
				      <!-- Other diagram objects -->
				  		        <area shape="rect" coords="645,46,814,70" href="../objects/id-e19401fb67764a1a877d8f9393bda107.html" target="element" >
				  		        <area shape="rect" coords="645,118,814,142" href="../objects/id-c495c09b459244aa829ac1d3e51688a4.html" target="element" >
				  		        <area shape="rect" coords="645,82,814,106" href="../objects/id-7413ddc2bfed4ba89ad4c4dfb14e1acd.html" target="element" >

				          <area shape="rect" coords="633,10,849,167" href="../objects/id-5973b239fc454b95bbf0200adc45f9e5.html" target="element" >
				  		<area shape="rect" coords="358,454,478,509" href="../elements/id-7af154be8d7244ec9b924d0ebfe9aae6.html"  target="element">
				  		<area shape="rect" coords="514,454,634,509" href="../elements/id-0b7b8d74a1c546fd85b6b124da0a4117.html"  target="element">
				  		<area shape="rect" coords="178,454,298,509" href="../elements/id-2f28c30bd7d24cc0bf7ec19d43f04dfc.html"  target="element">
				  		<area shape="rect" coords="333,22,453,77" href="../views/id-71ea52d57618499da772623d8a32ca30.html"  target="view">
				      <!-- Other diagram objects -->
				  		<area shape="rect" coords="82,142,562,197" href="../elements/id-8562bf64936e4bc795669655e9a0a193.html"  target="element">
				  		<area shape="rect" coords="442,262,562,317" href="../elements/id-3befa6552dcb448991813752e38d7f29.html"  target="element">
				  		<area shape="rect" coords="274,262,394,317" href="../elements/id-e47a804850994beaaff4d821e0a33364.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-e47a804850994beaaff4d821e0a33364.html" target="element"> 14 - Ukon&#269;en&#237; </a> </td>
											    <td> <a href="../elements/id-e47a804850994beaaff4d821e0a33364.html" target="element" class="i18n-elementtype-BusinessProcess">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-3befa6552dcb448991813752e38d7f29.html" target="element"> 15 - Vyhodnocen&#237; </a> </td>
											    <td> <a href="../elements/id-3befa6552dcb448991813752e38d7f29.html" target="element" class="i18n-elementtype-BusinessProcess">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-8562bf64936e4bc795669655e9a0a193.html" target="element"> D-Uzav&#345;en&#237; projektu  </a> </td>
											    <td> <a href="../elements/id-8562bf64936e4bc795669655e9a0a193.html" target="element" class="i18n-elementtype-BusinessProcess">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../views/id-71ea52d57618499da772623d8a32ca30.html" target="view"> Bussiness Flow </a> </td>
											    <td> <a href="../views/id-71ea52d57618499da772623d8a32ca30.html" target="view" class="i18n-viewpoint-"> </a> </td>
											</tr>
									    <!-- Other graphical objects -->

											<tr>
											    <td> <a href="../elements/id-2f28c30bd7d24cc0bf7ec19d43f04dfc.html" target="element"> Projektov&#253; manager </a> </td>
											    <td> <a href="../elements/id-2f28c30bd7d24cc0bf7ec19d43f04dfc.html" target="element" class="i18n-elementtype-BusinessRole">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-0b7b8d74a1c546fd85b6b124da0a4117.html" target="element"> Realiza&#269;n&#237; t&#253;m </a> </td>
											    <td> <a href="../elements/id-0b7b8d74a1c546fd85b6b124da0a4117.html" target="element" class="i18n-elementtype-BusinessRole">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-7af154be8d7244ec9b924d0ebfe9aae6.html" target="element"> Projektov&#253; t&#253;m </a> </td>
											    <td> <a href="../elements/id-7af154be8d7244ec9b924d0ebfe9aae6.html" target="element" class="i18n-elementtype-BusinessRole">
											    </a> </td>
											</tr>

									        <tr>
									           <td> <a href="../objects/id-5973b239fc454b95bbf0200adc45f9e5.html" target="element"> Legenda </a> </td>
									           <td> <a href="../objects/id-5973b239fc454b95bbf0200adc45f9e5.html" target="element" class="i18n-elementtype-DiagramModelGroup"> </a> </td>
									        </tr>

											        <tr>
											           <td> <a href="../objects/id-7413ddc2bfed4ba89ad4c4dfb14e1acd.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-7413ddc2bfed4ba89ad4c4dfb14e1acd.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											        <tr>
											           <td> <a href="../objects/id-c495c09b459244aa829ac1d3e51688a4.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-c495c09b459244aa829ac1d3e51688a4.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											        <tr>
											           <td> <a href="../objects/id-e19401fb67764a1a877d8f9393bda107.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-e19401fb67764a1a877d8f9393bda107.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											
											<tr>
											    <td> <a href="../views/id-c3c998fc9955406aaa2ead07fffab970.html" target="view"> Bussiness týmy </a> </td>
											    <td> <a href="../views/id-c3c998fc9955406aaa2ead07fffab970.html" target="view" class="i18n-viewpoint-"> </a> </td>
											</tr>
									    <!-- Other graphical objects -->

											<tr>
											    <td> <a href="../elements/id-a13e458790b94ac78bbcdcb7e71083bb.html" target="element"> Vedouc&#237; BS </a> </td>
											    <td> <a href="../elements/id-a13e458790b94ac78bbcdcb7e71083bb.html" target="element" class="i18n-elementtype-BusinessRole">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-72fc9f46ab0d4bd3ae59961b03f265f0.html" target="element"> 13 -Babysitting </a> </td>
											    <td> <a href="../elements/id-72fc9f46ab0d4bd3ae59961b03f265f0.html" target="element" class="i18n-elementtype-BusinessProcess">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-2b309b0f1c3541fa90e95dc8341a2aaa.html" target="element"> Care t&#253;m </a> </td>
											    <td> <a href="../elements/id-2b309b0f1c3541fa90e95dc8341a2aaa.html" target="element" class="i18n-elementtype-BusinessRole">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../views/id-4fb33f77d0184e088a9b252fb42fedaf.html" target="view"> C-Realizace lite </a> </td>
											    <td> <a href="../views/id-4fb33f77d0184e088a9b252fb42fedaf.html" target="view" class="i18n-viewpoint-"> </a> </td>
											</tr>
									    <!-- Other graphical objects -->


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-20c24d57ee7145efbf887247ddbb3709.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-20c24d57ee7145efbf887247ddbb3709.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-e47a804850994beaaff4d821e0a33364.html" target="element"> 14 - Ukon&#269;en&#237; </a> </td>
																		<td> <a href="../elements/id-8562bf64936e4bc795669655e9a0a193.html" target="element"> D-Uzav&#345;en&#237; projektu  </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-f51820fc60d04b9e903eb86ed4654429.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-f51820fc60d04b9e903eb86ed4654429.html" target="element" class="i18n-elementtype-FlowRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-e47a804850994beaaff4d821e0a33364.html" target="element"> 14 - Ukon&#269;en&#237; </a> </td>
																		<td> <a href="../elements/id-3befa6552dcb448991813752e38d7f29.html" target="element"> 15 - Vyhodnocen&#237; </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-c5c84ba3a7da40798563a8b92d56f480.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-c5c84ba3a7da40798563a8b92d56f480.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-3befa6552dcb448991813752e38d7f29.html" target="element"> 15 - Vyhodnocen&#237; </a> </td>
																		<td> <a href="../elements/id-8562bf64936e4bc795669655e9a0a193.html" target="element"> D-Uzav&#345;en&#237; projektu  </a> </td>
																	</tr>

											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->
																	<tr>
																		<td> <a href="../elements/id-129962cd94fc44f8808e27f541450e5c.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-129962cd94fc44f8808e27f541450e5c.html" target="element" class="i18n-elementtype-AssignmentRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-2f28c30bd7d24cc0bf7ec19d43f04dfc.html" target="element"> Projektov&#253; manager </a> </td>
																		<td> <a href="../elements/id-e47a804850994beaaff4d821e0a33364.html" target="element"> 14 - Ukon&#269;en&#237; </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-7b3c143fefab4054b8c16a3c8c39d4eb.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-7b3c143fefab4054b8c16a3c8c39d4eb.html" target="element" class="i18n-elementtype-AssignmentRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-2f28c30bd7d24cc0bf7ec19d43f04dfc.html" target="element"> Projektov&#253; manager </a> </td>
																		<td> <a href="../elements/id-3befa6552dcb448991813752e38d7f29.html" target="element"> 15 - Vyhodnocen&#237; </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-aff5b129c93d49f4b6ead8b7e6bf52f6.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-aff5b129c93d49f4b6ead8b7e6bf52f6.html" target="element" class="i18n-elementtype-AssignmentRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-2f28c30bd7d24cc0bf7ec19d43f04dfc.html" target="element"> Projektov&#253; manager </a> </td>
																		<td> <a href="../elements/id-72fc9f46ab0d4bd3ae59961b03f265f0.html" target="element"> 13 -Babysitting </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-5d44eb9b3fc44b95aff7b8812abc6952.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-5d44eb9b3fc44b95aff7b8812abc6952.html" target="element" class="i18n-elementtype-AssignmentRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-0b7b8d74a1c546fd85b6b124da0a4117.html" target="element"> Realiza&#269;n&#237; t&#253;m </a> </td>
																		<td> <a href="../elements/id-3befa6552dcb448991813752e38d7f29.html" target="element"> 15 - Vyhodnocen&#237; </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-bc6fe492f387481c89d75a066e1e5a57.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-bc6fe492f387481c89d75a066e1e5a57.html" target="element" class="i18n-elementtype-AssignmentRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-7af154be8d7244ec9b924d0ebfe9aae6.html" target="element"> Projektov&#253; t&#253;m </a> </td>
																		<td> <a href="../elements/id-e47a804850994beaaff4d821e0a33364.html" target="element"> 14 - Ukon&#269;en&#237; </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-42e3a6c7c6554f51aa45d1ab7afd07d4.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-42e3a6c7c6554f51aa45d1ab7afd07d4.html" target="element" class="i18n-elementtype-AssignmentRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-7af154be8d7244ec9b924d0ebfe9aae6.html" target="element"> Projektov&#253; t&#253;m </a> </td>
																		<td> <a href="../elements/id-3befa6552dcb448991813752e38d7f29.html" target="element"> 15 - Vyhodnocen&#237; </a> </td>
																	</tr>

											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->
																	<tr>
																		<td> <a href="../elements/id-75611948efc342d58d5f020fc9bade37.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-75611948efc342d58d5f020fc9bade37.html" target="element" class="i18n-elementtype-AssignmentRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-a13e458790b94ac78bbcdcb7e71083bb.html" target="element"> Vedouc&#237; BS </a> </td>
																		<td> <a href="../elements/id-3befa6552dcb448991813752e38d7f29.html" target="element"> 15 - Vyhodnocen&#237; </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-64c6adba87b744c091af55c418880968.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-64c6adba87b744c091af55c418880968.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-72fc9f46ab0d4bd3ae59961b03f265f0.html" target="element"> 13 -Babysitting </a> </td>
																		<td> <a href="../elements/id-8562bf64936e4bc795669655e9a0a193.html" target="element"> D-Uzav&#345;en&#237; projektu  </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-e41843abb23e4cb48fef9d5dace8666e.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-e41843abb23e4cb48fef9d5dace8666e.html" target="element" class="i18n-elementtype-FlowRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-72fc9f46ab0d4bd3ae59961b03f265f0.html" target="element"> 13 -Babysitting </a> </td>
																		<td> <a href="../elements/id-e47a804850994beaaff4d821e0a33364.html" target="element"> 14 - Ukon&#269;en&#237; </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-0ffb4f78cd1f48a9929b897858488593.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-0ffb4f78cd1f48a9929b897858488593.html" target="element" class="i18n-elementtype-AssignmentRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-2b309b0f1c3541fa90e95dc8341a2aaa.html" target="element"> Care t&#253;m </a> </td>
																		<td> <a href="../elements/id-72fc9f46ab0d4bd3ae59961b03f265f0.html" target="element"> 13 -Babysitting </a> </td>
																	</tr>

											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>