<!DOCTYPE html>
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>B-Akvizice</title>

	<!-- JQUERY -->
	<script type="text/javascript" src="../../lib/jquery/jquery.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>B-Akvizice</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-c972f7ce6a5c4afab06a914a8da798ce.png" alt="B-Akvizice" usemap="#id-c972f7ce6a5c4afab06a914a8da798cemap"/>
			   <map name="id-c972f7ce6a5c4afab06a914a8da798cemap">
				  		<area shape="rect" coords="463,244,583,275" href="../elements/id-1f76544416584f66b9cdb2a5fc4a0f7b.html"  target="element">
				  		        <area shape="rect" coords="1126,142,1295,166" href="../objects/id-1b51ad68ba754d3fb91df1e86305ab0e.html" target="element" >
				  		        <area shape="rect" coords="1126,70,1295,94" href="../objects/id-866d04c5de1d48e387a5b9fb4e91ccaa.html" target="element" >
				  		        <area shape="rect" coords="1126,118,1295,142" href="../objects/id-1c32573950854d87bf180e0395fd33ae.html" target="element" >
				  		        <area shape="rect" coords="1126,94,1295,118" href="../objects/id-67bf6fa9da394aa8b160840ecfd464a0.html" target="element" >

				          <area shape="rect" coords="1114,46,1330,170" href="../objects/id-97491009a12a46bcab4e7880c1135c1a.html" target="element" >
				  		<area shape="rect" coords="10,130,130,185" href="../elements/id-eac521e718d046ba818568060306c588.html"  target="element">
				  		<area shape="rect" coords="706,462,721,477" href="../elements/id-dc7362089a854a2791392b5f2ce0579e.html"  target="element">
				  		<area shape="rect" coords="1054,370,1174,425" href="../elements/id-dcd768120ca04a7dacc1761f96bec53f.html"  target="element">
				  		<area shape="rect" coords="754,10,874,65" href="../views/id-ada9af80aa7341fb9ef83f02388e2fff.html"  target="view">
				      <!-- Other diagram objects -->
				  		<area shape="rect" coords="173,10,293,65" href="../views/id-a81c188b58c94a6ebc55faf73944ca2c.html"  target="view">
				      <!-- Other diagram objects -->
				  		<area shape="rect" coords="353,382,473,437" href="../elements/id-104b685105e24a589abc99657aa0e198.html"  target="element">
				  		<area shape="rect" coords="173,382,293,437" href="../elements/id-7dffc40902744566b788735448b2763d.html"  target="element">
				  		<area shape="rect" coords="538,382,660,437" href="../elements/id-0424eea13d794ad9b667dccb3be99607.html"  target="element">
				  		<area shape="rect" coords="635,244,755,275" href="../elements/id-2996de4d18e14fe99a1b59a0afc7a3c6.html"  target="element">
				  		<area shape="rect" coords="463,202,583,239" href="../elements/id-caf01aafe05548e38b3987d3ac4a35b0.html"  target="element">
				  		<area shape="rect" coords="873,205,993,236" href="../elements/id-f0233b4ad5d8408f9979a3fe2ee383ee.html"  target="element">
				  		<area shape="rect" coords="539,10,659,65" href="../views/id-c3c998fc9955406aaa2ead07fffab970.html"  target="view">
				      <!-- Other diagram objects -->
				  		<area shape="rect" coords="497,698,617,753" href="../elements/id-a13e458790b94ac78bbcdcb7e71083bb.html"  target="element">
				  		<area shape="rect" coords="550,532,670,587" href="../elements/id-f9381b54e71a4b5f847adf313a65fae8.html"  target="element">
				  		<area shape="rect" coords="898,310,1018,335" href="../elements/id-838277dc1fd044fdbb95e292dc2b3d44.html"  target="element">
				  		<area shape="rect" coords="171,626,291,681" href="../elements/id-3bfca7ff01954216ae9aa2cba8b1e5a3.html"  target="element">
				  		<area shape="rect" coords="497,758,617,813" href="../elements/id-d50650c6c95145d897e585301c167bc0.html"  target="element">
				  		<area shape="rect" coords="886,442,1006,497" href="../elements/id-0c112662e1d842b8a10bf804345c03e3.html"  target="element">
				  		<area shape="rect" coords="681,532,801,587" href="../elements/id-b44690cf02554638a3984bce41d61701.html"  target="element">
				  		<area shape="rect" coords="497,640,617,695" href="../elements/id-d0c4dbefc91246cb8762b6db1d9a96c5.html"  target="element">
				  		<area shape="rect" coords="417,532,537,587" href="../elements/id-a13e458790b94ac78bbcdcb7e71083bb.html"  target="element">
				  		<area shape="rect" coords="350,628,470,683" href="../elements/id-542eb6e8b5324e5c990450d1f81122cd.html"  target="element">
				  		<area shape="rect" coords="262,746,382,801" href="../elements/id-70ba896f7ac1408c8b817819c2ee779e.html"  target="element">
				  		<area shape="rect" coords="262,310,382,335" href="../elements/id-838277dc1fd044fdbb95e292dc2b3d44.html"  target="element">
				  		<area shape="rect" coords="262,532,382,587" href="../elements/id-91728c23feb047519d5b440bb36a52b1.html"  target="element">
				  		<area shape="rect" coords="171,686,291,741" href="../elements/id-2f28c30bd7d24cc0bf7ec19d43f04dfc.html"  target="element">
				  		<area shape="rect" coords="350,686,470,741" href="../elements/id-eac521e718d046ba818568060306c588.html"  target="element">
				  		<area shape="rect" coords="406,10,526,65" href="../views/id-71ea52d57618499da772623d8a32ca30.html"  target="view">
				      <!-- Other diagram objects -->
				  		<area shape="rect" coords="873,241,993,278" href="../elements/id-34792a32c0a148408ee15a273be614d8.html"  target="element">
				  		<area shape="rect" coords="732,382,852,437" href="../elements/id-7b8385505d1d401aa67cb999f78ec149.html"  target="element">
				  		<area shape="rect" coords="173,130,852,185" href="../elements/id-1789a32017cf4c90bfbbcfafc61801ab.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-1789a32017cf4c90bfbbcfafc61801ab.html" target="element"> B-Akvizice </a> </td>
											    <td> <a href="../elements/id-1789a32017cf4c90bfbbcfafc61801ab.html" target="element" class="i18n-elementtype-BusinessProcess">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-7b8385505d1d401aa67cb999f78ec149.html" target="element"> 7-Akceptace nab&#237;dky z&#225;kazn&#237;kem </a> </td>
											    <td> <a href="../elements/id-7b8385505d1d401aa67cb999f78ec149.html" target="element" class="i18n-elementtype-BusinessProcess">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-34792a32c0a148408ee15a273be614d8.html" target="element"> Objedn&#225;vka/ smlouva </a> </td>
											    <td> <a href="../elements/id-34792a32c0a148408ee15a273be614d8.html" target="element" class="i18n-elementtype-Contract">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../views/id-71ea52d57618499da772623d8a32ca30.html" target="view"> Bussiness Flow - navigator </a> </td>
											    <td> <a href="../views/id-71ea52d57618499da772623d8a32ca30.html" target="view" class="i18n-viewpoint-"> </a> </td>
											</tr>
									    <!-- Other graphical objects -->

											<tr>
											    <td> <a href="../elements/id-eac521e718d046ba818568060306c588.html" target="element"> Obchodn&#237;k </a> </td>
											    <td> <a href="../elements/id-eac521e718d046ba818568060306c588.html" target="element" class="i18n-elementtype-BusinessRole">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-2f28c30bd7d24cc0bf7ec19d43f04dfc.html" target="element"> Projektov&#253; manager </a> </td>
											    <td> <a href="../elements/id-2f28c30bd7d24cc0bf7ec19d43f04dfc.html" target="element" class="i18n-elementtype-BusinessRole">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-91728c23feb047519d5b440bb36a52b1.html" target="element"> Nab&#237;dkov&#253; t&#253;m </a> </td>
											    <td> <a href="../elements/id-91728c23feb047519d5b440bb36a52b1.html" target="element" class="i18n-elementtype-BusinessRole">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-838277dc1fd044fdbb95e292dc2b3d44.html" target="element"> Z&#225;kazn&#237;k </a> </td>
											    <td> <a href="../elements/id-838277dc1fd044fdbb95e292dc2b3d44.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-70ba896f7ac1408c8b817819c2ee779e.html" target="element"> Business analytik </a> </td>
											    <td> <a href="../elements/id-70ba896f7ac1408c8b817819c2ee779e.html" target="element" class="i18n-elementtype-BusinessRole">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-542eb6e8b5324e5c990450d1f81122cd.html" target="element"> Servis </a> </td>
											    <td> <a href="../elements/id-542eb6e8b5324e5c990450d1f81122cd.html" target="element" class="i18n-elementtype-BusinessRole">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-a13e458790b94ac78bbcdcb7e71083bb.html" target="element"> Vedouc&#237; BS </a> </td>
											    <td> <a href="../elements/id-a13e458790b94ac78bbcdcb7e71083bb.html" target="element" class="i18n-elementtype-BusinessRole">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-d0c4dbefc91246cb8762b6db1d9a96c5.html" target="element"> Vedouc&#237; BU </a> </td>
											    <td> <a href="../elements/id-d0c4dbefc91246cb8762b6db1d9a96c5.html" target="element" class="i18n-elementtype-BusinessRole">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-b44690cf02554638a3984bce41d61701.html" target="element"> CFO </a> </td>
											    <td> <a href="../elements/id-b44690cf02554638a3984bce41d61701.html" target="element" class="i18n-elementtype-BusinessRole">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-0c112662e1d842b8a10bf804345c03e3.html" target="element"> Zm&#283;na parametr&#367; </a> </td>
											    <td> <a href="../elements/id-0c112662e1d842b8a10bf804345c03e3.html" target="element" class="i18n-elementtype-BusinessEvent">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-d50650c6c95145d897e585301c167bc0.html" target="element"> Divizn&#237; &#345;editel </a> </td>
											    <td> <a href="../elements/id-d50650c6c95145d897e585301c167bc0.html" target="element" class="i18n-elementtype-BusinessRole">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-3bfca7ff01954216ae9aa2cba8b1e5a3.html" target="element"> Business Developer </a> </td>
											    <td> <a href="../elements/id-3bfca7ff01954216ae9aa2cba8b1e5a3.html" target="element" class="i18n-elementtype-BusinessRole">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-838277dc1fd044fdbb95e292dc2b3d44.html" target="element"> Z&#225;kazn&#237;k </a> </td>
											    <td> <a href="../elements/id-838277dc1fd044fdbb95e292dc2b3d44.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-f9381b54e71a4b5f847adf313a65fae8.html" target="element"> Obchodn&#237; t&#253;m </a> </td>
											    <td> <a href="../elements/id-f9381b54e71a4b5f847adf313a65fae8.html" target="element" class="i18n-elementtype-BusinessRole">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-a13e458790b94ac78bbcdcb7e71083bb.html" target="element"> Vedouc&#237; BS </a> </td>
											    <td> <a href="../elements/id-a13e458790b94ac78bbcdcb7e71083bb.html" target="element" class="i18n-elementtype-BusinessRole">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../views/id-c3c998fc9955406aaa2ead07fffab970.html" target="view"> Bussiness týmy </a> </td>
											    <td> <a href="../views/id-c3c998fc9955406aaa2ead07fffab970.html" target="view" class="i18n-viewpoint-"> </a> </td>
											</tr>
									    <!-- Other graphical objects -->

											<tr>
											    <td> <a href="../elements/id-f0233b4ad5d8408f9979a3fe2ee383ee.html" target="element"> SUM-Z </a> </td>
											    <td> <a href="../elements/id-f0233b4ad5d8408f9979a3fe2ee383ee.html" target="element" class="i18n-elementtype-Contract">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-caf01aafe05548e38b3987d3ac4a35b0.html" target="element"> Jira Estimace - F02 </a> </td>
											    <td> <a href="../elements/id-caf01aafe05548e38b3987d3ac4a35b0.html" target="element" class="i18n-elementtype-Contract">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-2996de4d18e14fe99a1b59a0afc7a3c6.html" target="element"> INOVIO </a> </td>
											    <td> <a href="../elements/id-2996de4d18e14fe99a1b59a0afc7a3c6.html" target="element" class="i18n-elementtype-Contract">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-0424eea13d794ad9b667dccb3be99607.html" target="element"> 6 - Schv&#225;len&#237; nab&#237;dky </a> </td>
											    <td> <a href="../elements/id-0424eea13d794ad9b667dccb3be99607.html" target="element" class="i18n-elementtype-BusinessProcess">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-7dffc40902744566b788735448b2763d.html" target="element"> 4 - Setup nab&#237;dkov&#233;ho t&#253;mu  </a> </td>
											    <td> <a href="../elements/id-7dffc40902744566b788735448b2763d.html" target="element" class="i18n-elementtype-BusinessProcess">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-104b685105e24a589abc99657aa0e198.html" target="element"> 5 -Tvorba nab&#237;dky </a> </td>
											    <td> <a href="../elements/id-104b685105e24a589abc99657aa0e198.html" target="element" class="i18n-elementtype-BusinessProcess">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../views/id-a81c188b58c94a6ebc55faf73944ca2c.html" target="view"> A-Oportunita </a> </td>
											    <td> <a href="../views/id-a81c188b58c94a6ebc55faf73944ca2c.html" target="view" class="i18n-viewpoint-layered"> </a> </td>
											</tr>
									    <!-- Other graphical objects -->

											<tr>
											    <td> <a href="../views/id-ada9af80aa7341fb9ef83f02388e2fff.html" target="view"> C-Realizace </a> </td>
											    <td> <a href="../views/id-ada9af80aa7341fb9ef83f02388e2fff.html" target="view" class="i18n-viewpoint-"> </a> </td>
											</tr>
									    <!-- Other graphical objects -->

											<tr>
											    <td> <a href="../elements/id-dcd768120ca04a7dacc1761f96bec53f.html" target="element"> expirace nab&#237;dky </a> </td>
											    <td> <a href="../elements/id-dcd768120ca04a7dacc1761f96bec53f.html" target="element" class="i18n-elementtype-BusinessEvent">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-dc7362089a854a2791392b5f2ce0579e.html" target="element"> Junction </a> </td>
											    <td> <a href="../elements/id-dc7362089a854a2791392b5f2ce0579e.html" target="element" class="i18n-elementtype-Junction">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-eac521e718d046ba818568060306c588.html" target="element"> Obchodn&#237;k </a> </td>
											    <td> <a href="../elements/id-eac521e718d046ba818568060306c588.html" target="element" class="i18n-elementtype-BusinessRole">
											    </a> </td>
											</tr>

									        <tr>
									           <td> <a href="../objects/id-97491009a12a46bcab4e7880c1135c1a.html" target="element"> Legenda </a> </td>
									           <td> <a href="../objects/id-97491009a12a46bcab4e7880c1135c1a.html" target="element" class="i18n-elementtype-DiagramModelGroup"> </a> </td>
									        </tr>

											        <tr>
											           <td> <a href="../objects/id-67bf6fa9da394aa8b160840ecfd464a0.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-67bf6fa9da394aa8b160840ecfd464a0.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											        <tr>
											           <td> <a href="../objects/id-1c32573950854d87bf180e0395fd33ae.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-1c32573950854d87bf180e0395fd33ae.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											        <tr>
											           <td> <a href="../objects/id-866d04c5de1d48e387a5b9fb4e91ccaa.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-866d04c5de1d48e387a5b9fb4e91ccaa.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											        <tr>
											           <td> <a href="../objects/id-1b51ad68ba754d3fb91df1e86305ab0e.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-1b51ad68ba754d3fb91df1e86305ab0e.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											
											<tr>
											    <td> <a href="../elements/id-1f76544416584f66b9cdb2a5fc4a0f7b.html" target="element"> HL design </a> </td>
											    <td> <a href="../elements/id-1f76544416584f66b9cdb2a5fc4a0f7b.html" target="element" class="i18n-elementtype-Representation">
											    </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-ed41b70266c74bb7a551af24c5f358d4.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-ed41b70266c74bb7a551af24c5f358d4.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-7b8385505d1d401aa67cb999f78ec149.html" target="element"> 7-Akceptace nab&#237;dky z&#225;kazn&#237;kem </a> </td>
																		<td> <a href="../elements/id-34792a32c0a148408ee15a273be614d8.html" target="element"> Objedn&#225;vka/ smlouva </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-5f398178341748578ea37f6964e05110.html" target="element"> generov&#225;n&#237; SUM-Z </a> </td>
																		<td> <a href="../elements/id-5f398178341748578ea37f6964e05110.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-7b8385505d1d401aa67cb999f78ec149.html" target="element"> 7-Akceptace nab&#237;dky z&#225;kazn&#237;kem </a> </td>
																		<td> <a href="../elements/id-f0233b4ad5d8408f9979a3fe2ee383ee.html" target="element"> SUM-Z </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-757947e3fa924e73a60d803f63c6d0ed.html" target="element">  do aktivn&#237;  </a> </td>
																		<td> <a href="../elements/id-757947e3fa924e73a60d803f63c6d0ed.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-7b8385505d1d401aa67cb999f78ec149.html" target="element"> 7-Akceptace nab&#237;dky z&#225;kazn&#237;kem </a> </td>
																		<td> <a href="../elements/id-2996de4d18e14fe99a1b59a0afc7a3c6.html" target="element"> INOVIO </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-50c97bfb8e2b464eb1ba6bfce72ba814.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-50c97bfb8e2b464eb1ba6bfce72ba814.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-7b8385505d1d401aa67cb999f78ec149.html" target="element"> 7-Akceptace nab&#237;dky z&#225;kazn&#237;kem </a> </td>
																		<td> <a href="../elements/id-1789a32017cf4c90bfbbcfafc61801ab.html" target="element"> B-Akvizice </a> </td>
																	</tr>

											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->
																	<tr>
																		<td> <a href="../elements/id-c15677e779454d89ac74802a938183ad.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-c15677e779454d89ac74802a938183ad.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-eac521e718d046ba818568060306c588.html" target="element"> Obchodn&#237;k </a> </td>
																		<td> <a href="../elements/id-91728c23feb047519d5b440bb36a52b1.html" target="element"> Nab&#237;dkov&#253; t&#253;m </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-8b53f37ee88844ddba0e692d286b684c.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-8b53f37ee88844ddba0e692d286b684c.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-2f28c30bd7d24cc0bf7ec19d43f04dfc.html" target="element"> Projektov&#253; manager </a> </td>
																		<td> <a href="../elements/id-91728c23feb047519d5b440bb36a52b1.html" target="element"> Nab&#237;dkov&#253; t&#253;m </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-645b2fe4ac344991b6da62918df66149.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-645b2fe4ac344991b6da62918df66149.html" target="element" class="i18n-elementtype-AssignmentRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-91728c23feb047519d5b440bb36a52b1.html" target="element"> Nab&#237;dkov&#253; t&#253;m </a> </td>
																		<td> <a href="../elements/id-7dffc40902744566b788735448b2763d.html" target="element"> 4 - Setup nab&#237;dkov&#233;ho t&#253;mu  </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-081e0bf0118e4c67838475e2cdd2b5ee.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-081e0bf0118e4c67838475e2cdd2b5ee.html" target="element" class="i18n-elementtype-AssignmentRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-91728c23feb047519d5b440bb36a52b1.html" target="element"> Nab&#237;dkov&#253; t&#253;m </a> </td>
																		<td> <a href="../elements/id-104b685105e24a589abc99657aa0e198.html" target="element"> 5 -Tvorba nab&#237;dky </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-24f03f34719c44c999cb50f9f23f915a.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-24f03f34719c44c999cb50f9f23f915a.html" target="element" class="i18n-elementtype-AssignmentRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-838277dc1fd044fdbb95e292dc2b3d44.html" target="element"> Z&#225;kazn&#237;k </a> </td>
																		<td> <a href="../elements/id-104b685105e24a589abc99657aa0e198.html" target="element"> 5 -Tvorba nab&#237;dky </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-349ed60c076b4c2e8cfb3aac7d26b7fa.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-349ed60c076b4c2e8cfb3aac7d26b7fa.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-70ba896f7ac1408c8b817819c2ee779e.html" target="element"> Business analytik </a> </td>
																		<td> <a href="../elements/id-91728c23feb047519d5b440bb36a52b1.html" target="element"> Nab&#237;dkov&#253; t&#253;m </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-285748b5fe0b478f920f9109e0133d21.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-285748b5fe0b478f920f9109e0133d21.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-542eb6e8b5324e5c990450d1f81122cd.html" target="element"> Servis </a> </td>
																		<td> <a href="../elements/id-91728c23feb047519d5b440bb36a52b1.html" target="element"> Nab&#237;dkov&#253; t&#253;m </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-09535e76887e48e38acbf2c49eb05b6d.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-09535e76887e48e38acbf2c49eb05b6d.html" target="element" class="i18n-elementtype-AssignmentRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-a13e458790b94ac78bbcdcb7e71083bb.html" target="element"> Vedouc&#237; BS </a> </td>
																		<td> <a href="../elements/id-0424eea13d794ad9b667dccb3be99607.html" target="element"> 6 - Schv&#225;len&#237; nab&#237;dky </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-e76cc1d51f50422990a7355d371a4ba1.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-e76cc1d51f50422990a7355d371a4ba1.html" target="element" class="i18n-elementtype-AssignmentRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-b44690cf02554638a3984bce41d61701.html" target="element"> CFO </a> </td>
																		<td> <a href="../elements/id-0424eea13d794ad9b667dccb3be99607.html" target="element"> 6 - Schv&#225;len&#237; nab&#237;dky </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-b2c7bff5241d458791d2ed5f639a1711.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-b2c7bff5241d458791d2ed5f639a1711.html" target="element" class="i18n-elementtype-FlowRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-0c112662e1d842b8a10bf804345c03e3.html" target="element"> Zm&#283;na parametr&#367; </a> </td>
																		<td> <a href="../elements/id-dc7362089a854a2791392b5f2ce0579e.html" target="element"> Junction </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-8a72e2a0addf48ed8c7ca4924b40ba52.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-8a72e2a0addf48ed8c7ca4924b40ba52.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-3bfca7ff01954216ae9aa2cba8b1e5a3.html" target="element"> Business Developer </a> </td>
																		<td> <a href="../elements/id-91728c23feb047519d5b440bb36a52b1.html" target="element"> Nab&#237;dkov&#253; t&#253;m </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-15d83b4b68aa471684ff75fd84c827d6.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-15d83b4b68aa471684ff75fd84c827d6.html" target="element" class="i18n-elementtype-AssignmentRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-838277dc1fd044fdbb95e292dc2b3d44.html" target="element"> Z&#225;kazn&#237;k </a> </td>
																		<td> <a href="../elements/id-7b8385505d1d401aa67cb999f78ec149.html" target="element"> 7-Akceptace nab&#237;dky z&#225;kazn&#237;kem </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-d38fb48191ca4896abe64ec282941eb2.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-d38fb48191ca4896abe64ec282941eb2.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-838277dc1fd044fdbb95e292dc2b3d44.html" target="element"> Z&#225;kazn&#237;k </a> </td>
																		<td> <a href="../elements/id-0c112662e1d842b8a10bf804345c03e3.html" target="element"> Zm&#283;na parametr&#367; </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-9264e5fdf2f64daab2c60d591c48b8be.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-9264e5fdf2f64daab2c60d591c48b8be.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-f9381b54e71a4b5f847adf313a65fae8.html" target="element"> Obchodn&#237; t&#253;m </a> </td>
																		<td> <a href="../elements/id-a13e458790b94ac78bbcdcb7e71083bb.html" target="element"> Vedouc&#237; BS </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-a6eda0a80b934d5fa3eab1dcb33dc077.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-a6eda0a80b934d5fa3eab1dcb33dc077.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-f9381b54e71a4b5f847adf313a65fae8.html" target="element"> Obchodn&#237; t&#253;m </a> </td>
																		<td> <a href="../elements/id-d50650c6c95145d897e585301c167bc0.html" target="element"> Divizn&#237; &#345;editel </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-088ddc4fc5a149c78d74ff1137539a3b.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-088ddc4fc5a149c78d74ff1137539a3b.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-f9381b54e71a4b5f847adf313a65fae8.html" target="element"> Obchodn&#237; t&#253;m </a> </td>
																		<td> <a href="../elements/id-d0c4dbefc91246cb8762b6db1d9a96c5.html" target="element"> Vedouc&#237; BU </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-d02ea4e941424f57bf65170863fe3e9c.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-d02ea4e941424f57bf65170863fe3e9c.html" target="element" class="i18n-elementtype-AssignmentRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-f9381b54e71a4b5f847adf313a65fae8.html" target="element"> Obchodn&#237; t&#253;m </a> </td>
																		<td> <a href="../elements/id-0424eea13d794ad9b667dccb3be99607.html" target="element"> 6 - Schv&#225;len&#237; nab&#237;dky </a> </td>
																	</tr>

											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->
																	<tr>
																		<td> <a href="../elements/id-ffca1f256f3b49a7b8bd1df1276fa0ce.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-ffca1f256f3b49a7b8bd1df1276fa0ce.html" target="element" class="i18n-elementtype-FlowRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-0424eea13d794ad9b667dccb3be99607.html" target="element"> 6 - Schv&#225;len&#237; nab&#237;dky </a> </td>
																		<td> <a href="../elements/id-7b8385505d1d401aa67cb999f78ec149.html" target="element"> 7-Akceptace nab&#237;dky z&#225;kazn&#237;kem </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-9b7a96e0e1d0455d83405cc505e524e7.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-9b7a96e0e1d0455d83405cc505e524e7.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-0424eea13d794ad9b667dccb3be99607.html" target="element"> 6 - Schv&#225;len&#237; nab&#237;dky </a> </td>
																		<td> <a href="../elements/id-2996de4d18e14fe99a1b59a0afc7a3c6.html" target="element"> INOVIO </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-57237fbe391f47efa305de38e731a942.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-57237fbe391f47efa305de38e731a942.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-0424eea13d794ad9b667dccb3be99607.html" target="element"> 6 - Schv&#225;len&#237; nab&#237;dky </a> </td>
																		<td> <a href="../elements/id-1789a32017cf4c90bfbbcfafc61801ab.html" target="element"> B-Akvizice </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-adf5fc802c9f4b2f8318fd439cbcbc2e.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-adf5fc802c9f4b2f8318fd439cbcbc2e.html" target="element" class="i18n-elementtype-FlowRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-7dffc40902744566b788735448b2763d.html" target="element"> 4 - Setup nab&#237;dkov&#233;ho t&#253;mu  </a> </td>
																		<td> <a href="../elements/id-104b685105e24a589abc99657aa0e198.html" target="element"> 5 -Tvorba nab&#237;dky </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-6714ffd539d24d0980561c02a62da52d.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-6714ffd539d24d0980561c02a62da52d.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-7dffc40902744566b788735448b2763d.html" target="element"> 4 - Setup nab&#237;dkov&#233;ho t&#253;mu  </a> </td>
																		<td> <a href="../elements/id-1789a32017cf4c90bfbbcfafc61801ab.html" target="element"> B-Akvizice </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-d0c37657360849e9a96ee2005275dfb7.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-d0c37657360849e9a96ee2005275dfb7.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-104b685105e24a589abc99657aa0e198.html" target="element"> 5 -Tvorba nab&#237;dky </a> </td>
																		<td> <a href="../elements/id-caf01aafe05548e38b3987d3ac4a35b0.html" target="element"> Jira Estimace - F02 </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-813d432a66cb4945adb423918d566469.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-813d432a66cb4945adb423918d566469.html" target="element" class="i18n-elementtype-FlowRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-104b685105e24a589abc99657aa0e198.html" target="element"> 5 -Tvorba nab&#237;dky </a> </td>
																		<td> <a href="../elements/id-0424eea13d794ad9b667dccb3be99607.html" target="element"> 6 - Schv&#225;len&#237; nab&#237;dky </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-ce03364881e7450d9863e3a729b0e31d.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-ce03364881e7450d9863e3a729b0e31d.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-104b685105e24a589abc99657aa0e198.html" target="element"> 5 -Tvorba nab&#237;dky </a> </td>
																		<td> <a href="../elements/id-1789a32017cf4c90bfbbcfafc61801ab.html" target="element"> B-Akvizice </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-0fc87857742d402f951d6476eaa48b31.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-0fc87857742d402f951d6476eaa48b31.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-104b685105e24a589abc99657aa0e198.html" target="element"> 5 -Tvorba nab&#237;dky </a> </td>
																		<td> <a href="../elements/id-1f76544416584f66b9cdb2a5fc4a0f7b.html" target="element"> HL design </a> </td>
																	</tr>

											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->
																	<tr>
																		<td> <a href="../elements/id-22d238c2ed334265a582726071ab635c.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-22d238c2ed334265a582726071ab635c.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-dcd768120ca04a7dacc1761f96bec53f.html" target="element"> expirace nab&#237;dky </a> </td>
																		<td> <a href="../elements/id-0c112662e1d842b8a10bf804345c03e3.html" target="element"> Zm&#283;na parametr&#367; </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-17b70f29e493400f8c1dcd133676f43a.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-17b70f29e493400f8c1dcd133676f43a.html" target="element" class="i18n-elementtype-FlowRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-dc7362089a854a2791392b5f2ce0579e.html" target="element"> Junction </a> </td>
																		<td> <a href="../elements/id-0424eea13d794ad9b667dccb3be99607.html" target="element"> 6 - Schv&#225;len&#237; nab&#237;dky </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-538e1732e730480291a144a354350f5a.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-538e1732e730480291a144a354350f5a.html" target="element" class="i18n-elementtype-FlowRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-dc7362089a854a2791392b5f2ce0579e.html" target="element"> Junction </a> </td>
																		<td> <a href="../elements/id-104b685105e24a589abc99657aa0e198.html" target="element"> 5 -Tvorba nab&#237;dky </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-beb6211ae256458687ec11034105d408.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-beb6211ae256458687ec11034105d408.html" target="element" class="i18n-elementtype-AssignmentRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-eac521e718d046ba818568060306c588.html" target="element"> Obchodn&#237;k </a> </td>
																		<td> <a href="../elements/id-1789a32017cf4c90bfbbcfafc61801ab.html" target="element"> B-Akvizice </a> </td>
																	</tr>

											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>