<!DOCTYPE html>
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Bussiness týmy</title>

	<!-- JQUERY -->
	<script type="text/javascript" src="../../lib/jquery/jquery.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Bussiness t&#253;my</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-c3c998fc9955406aaa2ead07fffab970.png" alt="Bussiness týmy" usemap="#id-c3c998fc9955406aaa2ead07fffab970map"/>
			   <map name="id-c3c998fc9955406aaa2ead07fffab970map">
				  		<area shape="rect" coords="1123,364,1243,419" href="../elements/id-58641ff761214f81821f527bb215d799.html"  target="element">
				  		<area shape="rect" coords="994,748,1114,803" href="../elements/id-eac521e718d046ba818568060306c588.html"  target="element">
				  		<area shape="rect" coords="825,748,945,803" href="../elements/id-542eb6e8b5324e5c990450d1f81122cd.html"  target="element">
				  		<area shape="rect" coords="811,364,931,419" href="../elements/id-a80e871a700043b6bdddf4aa5c028af6.html"  target="element">
				  		<area shape="rect" coords="967,364,1087,419" href="../elements/id-542eb6e8b5324e5c990450d1f81122cd.html"  target="element">
				  		<area shape="rect" coords="394,748,514,803" href="../elements/id-3bfca7ff01954216ae9aa2cba8b1e5a3.html"  target="element">
				  		<area shape="rect" coords="190,22,310,77" href="../elements/id-3bfca7ff01954216ae9aa2cba8b1e5a3.html"  target="element">
				  		<area shape="rect" coords="238,748,358,803" href="../elements/id-9ebe39c3c9a94f5aadc89ccfcf16e5b8.html"  target="element">
				  		<area shape="rect" coords="10,597,130,652" href="../elements/id-838277dc1fd044fdbb95e292dc2b3d44.html"  target="element">
				  		<area shape="rect" coords="394,651,514,706" href="../elements/id-7af154be8d7244ec9b924d0ebfe9aae6.html"  target="element">
				  		<area shape="rect" coords="825,628,945,683" href="../elements/id-2f28c30bd7d24cc0bf7ec19d43f04dfc.html"  target="element">
				  		<area shape="rect" coords="970,10,1090,65" href="../elements/id-f9381b54e71a4b5f847adf313a65fae8.html"  target="element">
				  		<area shape="rect" coords="550,748,670,803" href="../elements/id-eac521e718d046ba818568060306c588.html"  target="element">
				  		<area shape="rect" coords="994,628,1114,683" href="../elements/id-91728c23feb047519d5b440bb36a52b1.html"  target="element">
				  		<area shape="rect" coords="956,262,1076,317" href="../elements/id-2b309b0f1c3541fa90e95dc8341a2aaa.html"  target="element">
				  		<area shape="rect" coords="10,670,130,725" href="../elements/id-8f46c82782b14946ae61f3e2873e02d2.html"  target="element">
				  		<area shape="rect" coords="802,118,922,173" href="../elements/id-d0c4dbefc91246cb8762b6db1d9a96c5.html"  target="element">
				  		<area shape="rect" coords="970,118,1090,173" href="../elements/id-a13e458790b94ac78bbcdcb7e71083bb.html"  target="element">
				  		<area shape="rect" coords="1138,118,1258,173" href="../elements/id-d50650c6c95145d897e585301c167bc0.html"  target="element">
				  		<area shape="rect" coords="10,742,130,797" href="../elements/id-b44690cf02554638a3984bce41d61701.html"  target="element">
				  		<area shape="rect" coords="190,142,310,197" href="../elements/id-0b7b8d74a1c546fd85b6b124da0a4117.html"  target="element">
				  		<area shape="rect" coords="1162,748,1282,803" href="../elements/id-3bfca7ff01954216ae9aa2cba8b1e5a3.html"  target="element">
				  		<area shape="rect" coords="10,520,130,575" href="../elements/id-67d317e9b4c448c8920febd985eb1f2c.html"  target="element">
				  		<area shape="rect" coords="1162,628,1282,683" href="../elements/id-70ba896f7ac1408c8b817819c2ee779e.html"  target="element">
				  		<area shape="rect" coords="370,250,490,305" href="../elements/id-d26c4f1760d04712a8f19c7b9af18361.html"  target="element">
				  		<area shape="rect" coords="370,142,490,197" href="../elements/id-a1ae34aed7d043fca22f4db263ac7316.html"  target="element">
				  		<area shape="rect" coords="190,358,310,413" href="../elements/id-542eb6e8b5324e5c990450d1f81122cd.html"  target="element">
				  		<area shape="rect" coords="10,358,130,413" href="../elements/id-a5bb48a1d7994441b495d0045cfd21b5.html"  target="element">
				  		<area shape="rect" coords="370,358,490,413" href="../elements/id-a80e871a700043b6bdddf4aa5c028af6.html"  target="element">
				  		<area shape="rect" coords="10,250,130,305" href="../elements/id-9ebe39c3c9a94f5aadc89ccfcf16e5b8.html"  target="element">
				  		<area shape="rect" coords="190,250,310,305" href="../elements/id-58641ff761214f81821f527bb215d799.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-58641ff761214f81821f527bb215d799.html" target="element"> Delivery t&#253;m </a> </td>
											    <td> <a href="../elements/id-58641ff761214f81821f527bb215d799.html" target="element" class="i18n-elementtype-BusinessRole">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-9ebe39c3c9a94f5aadc89ccfcf16e5b8.html" target="element"> Technick&#253; Garant </a> </td>
											    <td> <a href="../elements/id-9ebe39c3c9a94f5aadc89ccfcf16e5b8.html" target="element" class="i18n-elementtype-BusinessRole">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-a80e871a700043b6bdddf4aa5c028af6.html" target="element"> OPS </a> </td>
											    <td> <a href="../elements/id-a80e871a700043b6bdddf4aa5c028af6.html" target="element" class="i18n-elementtype-BusinessRole">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-a5bb48a1d7994441b495d0045cfd21b5.html" target="element"> QA </a> </td>
											    <td> <a href="../elements/id-a5bb48a1d7994441b495d0045cfd21b5.html" target="element" class="i18n-elementtype-BusinessRole">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-542eb6e8b5324e5c990450d1f81122cd.html" target="element"> Servis </a> </td>
											    <td> <a href="../elements/id-542eb6e8b5324e5c990450d1f81122cd.html" target="element" class="i18n-elementtype-BusinessRole">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-a1ae34aed7d043fca22f4db263ac7316.html" target="element"> Technical writer </a> </td>
											    <td> <a href="../elements/id-a1ae34aed7d043fca22f4db263ac7316.html" target="element" class="i18n-elementtype-BusinessRole">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-d26c4f1760d04712a8f19c7b9af18361.html" target="element"> V&#253;voj&#225;&#345; </a> </td>
											    <td> <a href="../elements/id-d26c4f1760d04712a8f19c7b9af18361.html" target="element" class="i18n-elementtype-BusinessRole">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-70ba896f7ac1408c8b817819c2ee779e.html" target="element"> Business analytik </a> </td>
											    <td> <a href="../elements/id-70ba896f7ac1408c8b817819c2ee779e.html" target="element" class="i18n-elementtype-BusinessRole">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-67d317e9b4c448c8920febd985eb1f2c.html" target="element"> Ext. dod&#225;vka </a> </td>
											    <td> <a href="../elements/id-67d317e9b4c448c8920febd985eb1f2c.html" target="element" class="i18n-elementtype-BusinessRole">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-3bfca7ff01954216ae9aa2cba8b1e5a3.html" target="element"> Business Developer </a> </td>
											    <td> <a href="../elements/id-3bfca7ff01954216ae9aa2cba8b1e5a3.html" target="element" class="i18n-elementtype-BusinessRole">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-0b7b8d74a1c546fd85b6b124da0a4117.html" target="element"> Realiza&#269;n&#237; t&#253;m </a> </td>
											    <td> <a href="../elements/id-0b7b8d74a1c546fd85b6b124da0a4117.html" target="element" class="i18n-elementtype-BusinessRole">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-b44690cf02554638a3984bce41d61701.html" target="element"> CFO </a> </td>
											    <td> <a href="../elements/id-b44690cf02554638a3984bce41d61701.html" target="element" class="i18n-elementtype-BusinessRole">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-d50650c6c95145d897e585301c167bc0.html" target="element"> Divizn&#237; &#345;editel </a> </td>
											    <td> <a href="../elements/id-d50650c6c95145d897e585301c167bc0.html" target="element" class="i18n-elementtype-BusinessRole">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-a13e458790b94ac78bbcdcb7e71083bb.html" target="element"> Vedouc&#237; BS </a> </td>
											    <td> <a href="../elements/id-a13e458790b94ac78bbcdcb7e71083bb.html" target="element" class="i18n-elementtype-BusinessRole">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-d0c4dbefc91246cb8762b6db1d9a96c5.html" target="element"> Vedouc&#237; BU </a> </td>
											    <td> <a href="../elements/id-d0c4dbefc91246cb8762b6db1d9a96c5.html" target="element" class="i18n-elementtype-BusinessRole">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-8f46c82782b14946ae61f3e2873e02d2.html" target="element"> Vedouc&#237; PM </a> </td>
											    <td> <a href="../elements/id-8f46c82782b14946ae61f3e2873e02d2.html" target="element" class="i18n-elementtype-BusinessRole">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-2b309b0f1c3541fa90e95dc8341a2aaa.html" target="element"> Care t&#253;m </a> </td>
											    <td> <a href="../elements/id-2b309b0f1c3541fa90e95dc8341a2aaa.html" target="element" class="i18n-elementtype-BusinessRole">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-91728c23feb047519d5b440bb36a52b1.html" target="element"> Nab&#237;dkov&#253; t&#253;m </a> </td>
											    <td> <a href="../elements/id-91728c23feb047519d5b440bb36a52b1.html" target="element" class="i18n-elementtype-BusinessRole">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-eac521e718d046ba818568060306c588.html" target="element"> Obchodn&#237;k </a> </td>
											    <td> <a href="../elements/id-eac521e718d046ba818568060306c588.html" target="element" class="i18n-elementtype-BusinessRole">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-f9381b54e71a4b5f847adf313a65fae8.html" target="element"> Obchodn&#237; t&#253;m </a> </td>
											    <td> <a href="../elements/id-f9381b54e71a4b5f847adf313a65fae8.html" target="element" class="i18n-elementtype-BusinessRole">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-2f28c30bd7d24cc0bf7ec19d43f04dfc.html" target="element"> Projektov&#253; manager </a> </td>
											    <td> <a href="../elements/id-2f28c30bd7d24cc0bf7ec19d43f04dfc.html" target="element" class="i18n-elementtype-BusinessRole">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-7af154be8d7244ec9b924d0ebfe9aae6.html" target="element"> Projektov&#253; t&#253;m </a> </td>
											    <td> <a href="../elements/id-7af154be8d7244ec9b924d0ebfe9aae6.html" target="element" class="i18n-elementtype-BusinessRole">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-838277dc1fd044fdbb95e292dc2b3d44.html" target="element"> Z&#225;kazn&#237;k </a> </td>
											    <td> <a href="../elements/id-838277dc1fd044fdbb95e292dc2b3d44.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-9ebe39c3c9a94f5aadc89ccfcf16e5b8.html" target="element"> Technick&#253; Garant </a> </td>
											    <td> <a href="../elements/id-9ebe39c3c9a94f5aadc89ccfcf16e5b8.html" target="element" class="i18n-elementtype-BusinessRole">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-3bfca7ff01954216ae9aa2cba8b1e5a3.html" target="element"> Business Developer </a> </td>
											    <td> <a href="../elements/id-3bfca7ff01954216ae9aa2cba8b1e5a3.html" target="element" class="i18n-elementtype-BusinessRole">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-3bfca7ff01954216ae9aa2cba8b1e5a3.html" target="element"> Business Developer </a> </td>
											    <td> <a href="../elements/id-3bfca7ff01954216ae9aa2cba8b1e5a3.html" target="element" class="i18n-elementtype-BusinessRole">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-542eb6e8b5324e5c990450d1f81122cd.html" target="element"> Servis </a> </td>
											    <td> <a href="../elements/id-542eb6e8b5324e5c990450d1f81122cd.html" target="element" class="i18n-elementtype-BusinessRole">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-a80e871a700043b6bdddf4aa5c028af6.html" target="element"> OPS </a> </td>
											    <td> <a href="../elements/id-a80e871a700043b6bdddf4aa5c028af6.html" target="element" class="i18n-elementtype-BusinessRole">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-542eb6e8b5324e5c990450d1f81122cd.html" target="element"> Servis </a> </td>
											    <td> <a href="../elements/id-542eb6e8b5324e5c990450d1f81122cd.html" target="element" class="i18n-elementtype-BusinessRole">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-eac521e718d046ba818568060306c588.html" target="element"> Obchodn&#237;k </a> </td>
											    <td> <a href="../elements/id-eac521e718d046ba818568060306c588.html" target="element" class="i18n-elementtype-BusinessRole">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-58641ff761214f81821f527bb215d799.html" target="element"> Delivery t&#253;m </a> </td>
											    <td> <a href="../elements/id-58641ff761214f81821f527bb215d799.html" target="element" class="i18n-elementtype-BusinessRole">
											    </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-6e22cdc97f484cc4a8fb150b3ef15dae.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-6e22cdc97f484cc4a8fb150b3ef15dae.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-58641ff761214f81821f527bb215d799.html" target="element"> Delivery t&#253;m </a> </td>
																		<td> <a href="../elements/id-0b7b8d74a1c546fd85b6b124da0a4117.html" target="element"> Realiza&#269;n&#237; t&#253;m </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-9c870f6223254f788b03197d1663ae6c.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-9c870f6223254f788b03197d1663ae6c.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-9ebe39c3c9a94f5aadc89ccfcf16e5b8.html" target="element"> Technick&#253; Garant </a> </td>
																		<td> <a href="../elements/id-58641ff761214f81821f527bb215d799.html" target="element"> Delivery t&#253;m </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-f48f9d2ad9ac4c44b83ba923a658e10e.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-f48f9d2ad9ac4c44b83ba923a658e10e.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-a80e871a700043b6bdddf4aa5c028af6.html" target="element"> OPS </a> </td>
																		<td> <a href="../elements/id-58641ff761214f81821f527bb215d799.html" target="element"> Delivery t&#253;m </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-9dc4cfd79149483aa7c7cd2f3e97f63d.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-9dc4cfd79149483aa7c7cd2f3e97f63d.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-a5bb48a1d7994441b495d0045cfd21b5.html" target="element"> QA </a> </td>
																		<td> <a href="../elements/id-58641ff761214f81821f527bb215d799.html" target="element"> Delivery t&#253;m </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-1a85ae52e4674f48ba93bd4c44ebbb5a.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-1a85ae52e4674f48ba93bd4c44ebbb5a.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-542eb6e8b5324e5c990450d1f81122cd.html" target="element"> Servis </a> </td>
																		<td> <a href="../elements/id-58641ff761214f81821f527bb215d799.html" target="element"> Delivery t&#253;m </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-71bb730361f24f6b8bf2019c7d98652b.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-71bb730361f24f6b8bf2019c7d98652b.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-a1ae34aed7d043fca22f4db263ac7316.html" target="element"> Technical writer </a> </td>
																		<td> <a href="../elements/id-58641ff761214f81821f527bb215d799.html" target="element"> Delivery t&#253;m </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-28c893d9e8124766b74c2547fbb873e7.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-28c893d9e8124766b74c2547fbb873e7.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-d26c4f1760d04712a8f19c7b9af18361.html" target="element"> V&#253;voj&#225;&#345; </a> </td>
																		<td> <a href="../elements/id-58641ff761214f81821f527bb215d799.html" target="element"> Delivery t&#253;m </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-349ed60c076b4c2e8cfb3aac7d26b7fa.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-349ed60c076b4c2e8cfb3aac7d26b7fa.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-70ba896f7ac1408c8b817819c2ee779e.html" target="element"> Business analytik </a> </td>
																		<td> <a href="../elements/id-91728c23feb047519d5b440bb36a52b1.html" target="element"> Nab&#237;dkov&#253; t&#253;m </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-8a72e2a0addf48ed8c7ca4924b40ba52.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-8a72e2a0addf48ed8c7ca4924b40ba52.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-3bfca7ff01954216ae9aa2cba8b1e5a3.html" target="element"> Business Developer </a> </td>
																		<td> <a href="../elements/id-91728c23feb047519d5b440bb36a52b1.html" target="element"> Nab&#237;dkov&#253; t&#253;m </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-4bfb112ec68b44ef925d4e67d15dbc23.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-4bfb112ec68b44ef925d4e67d15dbc23.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-eac521e718d046ba818568060306c588.html" target="element"> Obchodn&#237;k </a> </td>
																		<td> <a href="../elements/id-7af154be8d7244ec9b924d0ebfe9aae6.html" target="element"> Projektov&#253; t&#253;m </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-a6eda0a80b934d5fa3eab1dcb33dc077.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-a6eda0a80b934d5fa3eab1dcb33dc077.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-f9381b54e71a4b5f847adf313a65fae8.html" target="element"> Obchodn&#237; t&#253;m </a> </td>
																		<td> <a href="../elements/id-d50650c6c95145d897e585301c167bc0.html" target="element"> Divizn&#237; &#345;editel </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-9264e5fdf2f64daab2c60d591c48b8be.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-9264e5fdf2f64daab2c60d591c48b8be.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-f9381b54e71a4b5f847adf313a65fae8.html" target="element"> Obchodn&#237; t&#253;m </a> </td>
																		<td> <a href="../elements/id-a13e458790b94ac78bbcdcb7e71083bb.html" target="element"> Vedouc&#237; BS </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-088ddc4fc5a149c78d74ff1137539a3b.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-088ddc4fc5a149c78d74ff1137539a3b.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-f9381b54e71a4b5f847adf313a65fae8.html" target="element"> Obchodn&#237; t&#253;m </a> </td>
																		<td> <a href="../elements/id-d0c4dbefc91246cb8762b6db1d9a96c5.html" target="element"> Vedouc&#237; BU </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-8b53f37ee88844ddba0e692d286b684c.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-8b53f37ee88844ddba0e692d286b684c.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-2f28c30bd7d24cc0bf7ec19d43f04dfc.html" target="element"> Projektov&#253; manager </a> </td>
																		<td> <a href="../elements/id-91728c23feb047519d5b440bb36a52b1.html" target="element"> Nab&#237;dkov&#253; t&#253;m </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-76fd53cc4d924de0880929280ef54553.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-76fd53cc4d924de0880929280ef54553.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-9ebe39c3c9a94f5aadc89ccfcf16e5b8.html" target="element"> Technick&#253; Garant </a> </td>
																		<td> <a href="../elements/id-7af154be8d7244ec9b924d0ebfe9aae6.html" target="element"> Projektov&#253; t&#253;m </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-09696f535ccd4537aff77264ba367d46.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-09696f535ccd4537aff77264ba367d46.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-3bfca7ff01954216ae9aa2cba8b1e5a3.html" target="element"> Business Developer </a> </td>
																		<td> <a href="../elements/id-0b7b8d74a1c546fd85b6b124da0a4117.html" target="element"> Realiza&#269;n&#237; t&#253;m </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-d935f7b26aba48a8b8504559a818bab2.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-d935f7b26aba48a8b8504559a818bab2.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-3bfca7ff01954216ae9aa2cba8b1e5a3.html" target="element"> Business Developer </a> </td>
																		<td> <a href="../elements/id-7af154be8d7244ec9b924d0ebfe9aae6.html" target="element"> Projektov&#253; t&#253;m </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-a1bcc69e8d104915b43ebd116f1ba372.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-a1bcc69e8d104915b43ebd116f1ba372.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-542eb6e8b5324e5c990450d1f81122cd.html" target="element"> Servis </a> </td>
																		<td> <a href="../elements/id-2b309b0f1c3541fa90e95dc8341a2aaa.html" target="element"> Care t&#253;m </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-41b429e9079b4264b63356fed6577e17.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-41b429e9079b4264b63356fed6577e17.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-a80e871a700043b6bdddf4aa5c028af6.html" target="element"> OPS </a> </td>
																		<td> <a href="../elements/id-2b309b0f1c3541fa90e95dc8341a2aaa.html" target="element"> Care t&#253;m </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-285748b5fe0b478f920f9109e0133d21.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-285748b5fe0b478f920f9109e0133d21.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-542eb6e8b5324e5c990450d1f81122cd.html" target="element"> Servis </a> </td>
																		<td> <a href="../elements/id-91728c23feb047519d5b440bb36a52b1.html" target="element"> Nab&#237;dkov&#253; t&#253;m </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-c15677e779454d89ac74802a938183ad.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-c15677e779454d89ac74802a938183ad.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-eac521e718d046ba818568060306c588.html" target="element"> Obchodn&#237;k </a> </td>
																		<td> <a href="../elements/id-91728c23feb047519d5b440bb36a52b1.html" target="element"> Nab&#237;dkov&#253; t&#253;m </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-88ae4a849340474f90e3536245c2b76d.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-88ae4a849340474f90e3536245c2b76d.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-58641ff761214f81821f527bb215d799.html" target="element"> Delivery t&#253;m </a> </td>
																		<td> <a href="../elements/id-2b309b0f1c3541fa90e95dc8341a2aaa.html" target="element"> Care t&#253;m </a> </td>
																	</tr>


								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>